In [10]:
import json
import os
import pandas as pd
from tqdm import tqdm
import re
import tensorflow_hub as hub
from tqdm import tqdm
from sklearn.cluster import DBSCAN
import numpy as np

In [2]:
STORIES_DIRECTORY = "data/stories/"

In [3]:
def as_nodes(data):
    def parse(node, nodes):
        nodes.append({"content": node["content"], "title": node["title"]})
        for action in node["actions"]:
            if action["subgraph"]:
                parse(action["subgraph"], nodes)
    
    nodes = []
    parse(data, nodes)
    return nodes

In [4]:
sentences = set()
titles = {}  
for file in os.listdir(STORIES_DIRECTORY):
    if not file.endswith(".json"):
        continue
    with open(os.path.join(STORIES_DIRECTORY, file), "r") as src:
        data = json.load(src)
    nodes = as_nodes(data)
    for node in nodes:
        titles[node["title"].strip()] = titles.get(node["title"].strip(), 0) + 1
        sentences |= {sent.strip()
                      for sent in re.split("[.!?]", node["content"])}

In [5]:
len(titles), len(sentences)

(32112, 676699)

In [6]:
if "" in titles:
    del titles[""]
sentences = sentences - {""}

In [7]:
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder/4")

2021-10-21 00:19:43.925170: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-10-21 00:19:43.925638: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-10-21 00:19:43.925677: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublas.so.11'; dlerror: libcublas.so.11: cannot open shared object file: No such file or directory
2021-10-21 00:19:43.925711: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublasLt.so.11'; dlerror: libcublasLt.so.11: cannot open shared object file: No such file or directory
2021-10-21 00:19:43.927084: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory
2021-10-21 00:19:43.927123: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusparse.so.11'; dlerror: libcusparse.so.11: cannot open shared object file: No such file or directory
2021-10-21 00:19:43.927157: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2021-10-21 00:19:43.927164: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1835] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2021-10-21 00:19:43.927399: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2021-10-21 00:19:45.245591: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

In [8]:
def filteralnum(text):
    return "".join([
        char
        for char in text
        if char.isalnum()
    ])


embeddings = {}
for text in tqdm(sorted(sentences)):
    if filteralnum(text) != "":
        embeddings[text] = embed([text])[0].numpy()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 676698/676698 [16:08<00:00, 698.71it/s]

In [11]:
embeddings_np = []
for text in tqdm(sorted(sentences)):
    if filteralnum(text) != "":
        embeddings_np.append(embeddings[text].tolist())
embeddings_np = np.array(embeddings_np)
embeddings_np.shape

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 676698/676698 [00:16<00:00, 41443.45it/s]

(676632, 512)

In [13]:
clusters = DBSCAN().fit_predict(embeddings_np)

In [14]:
len(clusters)

676632

In [15]:
len(clusters[clusters != -1])

12764

In [16]:
texts = []
for text in tqdm(sorted(sentences)):
    if filteralnum(text) != "":
        texts.append(text)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 676698/676698 [00:02<00:00, 271075.25it/s]

In [17]:
df = pd.DataFrame({"text": texts, "cluster": clusters})
df.head()

                                                text  cluster
0  "\n" 'Ours is not to reason why, ours is but t...       -1
1                           "\n" A military starship       -1
2                                        "\n" AAAGGH       -1
3                                         "\n" AGGHH       -1
4                         "\n" Aaaaah, sweet revenge       -1

In [30]:
cluster_sizes = df.loc[df["cluster"] != -1, "cluster"].value_counts()
cluster_sizes

978     853
1004    122
14      118
121     107
275     102
       ...
843       5
1221      4
1022      4
1180      3
736       1
Name: cluster, Length: 1256, dtype: int64

In [21]:
pd.set_option("display.max_colwidth", 256)

In [32]:
drop_clusters = []
for cluster in cluster_sizes.index:
    print("")
    print("-" * 80)
    print("")
    display(df.loc[df["cluster"] == cluster])
    print("Drop ([y]es/[n]o/[b]reak)")
    response = input().strip()
    if response == "y":
        drop_clusters.append(cluster)
    elif response == "b":
        break

--------------------------------------------------------------------------------

,text,cluster
162715,Combat: 0/7 Life: 0/7 Coins: 0/100 Page Items Links Inventory,978
162716,Combat: 0/7 Life: 7/7 Coins: 10/100 Page Items Links Inventory,978
162717,Combat: 0/7 Life: 7/7 Coins: 11/100 Page Items Links Inventory,978
162718,Combat: 0/7 Life: 7/7 Coins: 12/100 Page Items Links Inventory,978
162719,Combat: 0/7 Life: 7/7 Coins: 13/100 Page Items Links Inventory,978
...,...,...
183080,Fight - 8 Combat: 2/7 Life: 4/7 Coins: 3/100 Page Items Links Inventory,978
183081,Fight - 8 Combat: 2/7 Life: 4/7 Coins: 4/100 Page Items Links Inventory,978
183082,Fight - 8 Combat: 2/7 Life: 5/7 Coins: 4/100 Page Items Links Inventory,978
183083,Fight - 8 Combat: 2/7 Life: 6/7 Coins: 3/100 Page Items Links Inventory,978
183084,Fight - 8 Combat: 3/7 Life: 1/7 Coins: 3/100 Page Items Links Inventory,978

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

,text,cluster
217022,Here’s a rundown of how you did –\nYou Killed 0 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 0 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 Pe...,1004
217023,Here’s a rundown of how you did –\nYou Killed 10 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 0 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 P...,1004
217024,Here’s a rundown of how you did –\nYou Killed 101 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 1 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 1 ...,1004
217025,Here’s a rundown of how you did –\nYou Killed 103 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 1 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 ...,1004
217026,Here’s a rundown of how you did –\nYou Killed 106 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 1 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 ...,1004
...,...,...
217139,Here’s a rundown of how you did –\nYou Killed 98 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 1 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 P...,1004
217140,Here’s a rundown of how you did –\nYou Killed 98 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 1 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 P...,1004
217141,Here’s a rundown of how you did –\nYou Killed 98 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 1 Banshees You Killed 1 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 P...,1004
217142,Here’s a rundown of how you did –\nYou Killed 98 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 1 Banshees You Killed 1 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 P...,1004
217143,Here’s a rundown of how you did –\nYou Killed 98 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 1 Banshees You Killed 1 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 P...,1004

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                      text  cluster
315     "\n"Ah, good, good       14
6328           "\n"Oh good       14
6427          "\n"Oh, good       14
6428    "\n"Oh, good, good       14
24653           " "Alright       14
...                    ...      ...
672257             ” “Well       14
672573       ” “Well great       14
673305       ” “Well, okay       14
676272            ” “…Well       14
676309            ” “…okay       14

[118 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
25313        " "Heck yeah      121
26450          " "Oh yeah      121
26454           " "Oh yes      121
26497         " "Oh, yeah      121
27752              " "Yes      121
...                   ...      ...
674947             ” “Yes      121
674968         ” “Yes Yes      121
675240  ” “Yes, of course      121
676350            ” “…yes      121
676397             ” ”YES      121

[107 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                        text  cluster
27471            " "What are you going to do      275
27472   " "What are you going to do about it      275
27495        " "What do you want to be doing      275
42167                " What are you gonna do      275
42172                       " What do you do      275
...                                      ...      ...
673602     ” “What are you going to be doing      275
673603           ” “What are you going to do      275
673777               ” “What will you do now      275
673783          ” “What would you like to do      275
673825            ” “What’re you going to do      275

[102 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                           text  cluster
31989             " He chuckles      353
31992      " He chuckles evilly      353
31994   " He chuckles nervously      353
32243                " He grins      353
32371               " He laughs      353
...                         ...      ...
658315     ” he smiles guiltily      353
658727             ” she laughs      353
658815             ” she smiles      353
658816      ” she smiles weakly      353
658817             ” she smirks      353

[96 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
24564   " " No, no, no       58
25107     " "Err, yeah       58
26245            " "No       58
26314        " "No, no       58
26353          " "Nope       58
...                ...      ...
671733      ” “Uh, yea       58
671734     ” “Uh, yeah       58
671792       ” “Um, no       58
671818     ” “Um, yeah       58
676295          ” “…no       58

[89 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                              text  cluster
25864              " "I'm so sorry      159
25867                 " "I'm sorry      159
26479        " "Oh, man, I'm sorry      159
26484                 " "Oh, sorry      159
26815                     " "Sorry      159
...                            ...      ...
667032  ” “I… I am truly sorry, Mr      159
667035             ” “I… I’m sorry      159
670424                    ” “Sorry      159
670437                ” “Sorry, Mr      159
671722                ” “Uh, sorry      159

[86 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
25263            " "Ha      116
25264         " "Ha ha      116
31648             " Ha      116
31654         " Hahaha      116
33601           " Hehe      116
...                ...      ...
663809  ” “Ha ha ha ha      116
663839        ” “Ha-ha      116
663846          ” “Hah      116
663880     ” “Hahahaha      116
663992          ” “Heh      116

[84 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                            text  cluster
26495         " "Oh, what was it      283
27508                 " "What is      283
27509              " "What is it      283
27511            " "What is that      283
27515            " "What is this      283
...                          ...      ...
673702        ” “What is it then      283
673704      ” “What is that then      283
673708           ” “What is this      283
673841            ” “What’s that      283
673854  ” “What’s this all about      283

[83 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                                  text  cluster
5326                 "\n"Look, what are you doing here        9
5486    "\n"Meredith, what the heck are you doing here        9
9814                       "\n"What are you doing here        9
10012             "\n"What the hell are you doing here        9
27470                            " "What are you doing        9
...                                                ...      ...
636425                       “…what are you doing here        9
669315             ” “Okay, but what’re you doing here        9
673596                           ” “What are you doing        9
673597                      ” “What are you doing here        9
673598                  ” “What are you doing out here        9

[75 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                          text  cluster
32460                        " He looks at you      358
32465           " He looks at you for a second      358
32466              " He looks at you hopefully      358
32482                " He looks back up at you      358
33244   " He stares at you, and you stare back      358
...                                        ...      ...
649962          ” She looks at you expectantly      358
649971                   ” She looks up at you      358
650259             ” She stares at you angrily      358
650321               ” She turns away from you      358
650329                      ” She turns to you      358

[64 rows x 2 columns]

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                      text  cluster
360            "\n"Al, where are you going      236
26782            " "So where are you going      236
62247   "Hey, wait up, where are you going      236
78439        "Redling, where are you going      236
80317     "So, where are you headed off to      236
80319         "So, where do you want to go      236
90400                       "Where are you      236
90402                  "Where are you from      236
90403                 "Where are you going      236
90404           "Where are you going again      236
90410         "Where are you headed off to      236
90536          "Where would you like to go      236
90537       "Where would you like to start      236
324193                 Now where do you go      236
324198      Now where would you like to go      236
325277     Now, where would you like to go      236
366399                So where will you go      236
461763                       WHERE ARE YOU      236
479389                       Where are you      236
479393                  Where are you from      236
479394       Where are you from originally      236
479395                 Where are you going      236
479396           Where are you going to be      236
479397           Where are you going to go      236
479398       Where are you going to go now      236
479404                Where are you headed      236
479405            Where are you headed now      236
479409                   Where are you now      236
479490           Where do you choose to go      236
479496                     Where do you go      236
479499          Where do you go from there      236
479500                Where do you go next      236
479501                 Where do you go now      236
479507             Where do you plan to go      236
479524             Where do you want to go      236
479525        Where do you want to go next      236
479526         Where do you want to go now      236
479662                 Where should you go      236
479696         Where the hell ARE you from      236
479698              Where the hell are you      236
479775                   Where will you go      236
479777         Where will you go from here      236
479778               Where will you go now      236
479795                  Where would you go      236
479796           Where would you go anyway      236
479797          Where would you like to go      236
479799  Where would you like to go, Dagden      236
479801      Where would you like to travel      236
479803          Where would you need to go      236
604752                       where are you      236
613487            “Hey where are you going      236
613663           “Hey, where are you going      236
632541                      “Where are you      236
632542                 “Where are you from      236
632544                “Where are you going      236
632545            “Where are you going now      236
632546          “Where are you going to go      236
632547               “Where are you headed      236
632616                  “Where will you go      236

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
25331                 " "Hey      123
33768                   " Hi      123
52171              "AH hello      123
52427             "Ah, Hello      123
60669                 "HELLO      123
60672                   "HEY      123
60682                    "HI      123
61412                 "Hello      123
61465                "Hello"      123
61520          "Hello, hello      123
61794                   "Hey      123
61985                  "Hey"      123
62159              "Hey, hey      123
62161         "Hey, hey, hey      123
62342                    "Hi      123
76159                "OH HEY      123
76802                "Oh, hi      123
85570                "Uh, hi      123
85639                "Um, hi      123
88540           "Well, hello      123
89017   "Whao, hey, hey, hey      123
97447                 ' (HEY      123
98722                 'Hello      123
98742                   'Hey      123
98754                    'Hi      123
101526              ) “Hello      123
103371                : "Hey      123
194595                 HELLO      123
194604                   HEY      123
214778                 Hello      123
217255                   Hey      123
217391         Hey, hey, hey      123
218636                    Hi      123
327601                Oh hey      123
328112             Oh, hello      123
457846             Uh, hello      123
600253                 hello      123
600280                   hey      123
600288                    hi      123
606349                ‘Hello      123
612585                  “HEY      123
613105                “Hello      123
613234                  “Hey      123
613391              “Hey hey      123
613392          “Hey hey hey      123
613592             “Hey, hey      123
613794                   “Hi      123
622719             “Oh hello      123
622721               “Oh hey      123
623054            “Oh, hello      123
629101           “Uh, hello…      123
629103               “Uh, hi      123
636240                “hello      123
663805                ” “HEY      123
664108                ” “Hey      123

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                         text  cluster
12330               "\nAndrea shakes her head       30
13225       "\nChief Dansmith shakes his head       30
13663            "\nEsmeralda shakes her head       30
14037               "\nGrolik shakes his head       30
14295       "\nHe immediately shakes his head       30
14512                   "\nHe shakes his head       30
14514              "\nHe shakes his head idly       30
15755   "\nKappa dismissively shakes his head       30
15770              "\nKendall shakes his head       30
15771        "\nKendall shakes his head again       30
16144             "\nMatthias shakes his head       30
16397                 "\nNemo shakes his head       30
16674             "\nOutrider shakes his head       30
16690        "\nOviedo-Nandez shakes his head       30
17048                "\nRoger shakes his head       30
17076                 "\nRose shakes her head       30
17608                  "\nShe shakes her head       30
17609            "\nShe shakes her head a bit       30
17610           "\nShe shakes her head at you       30
19226              "\nThe man shakes his head       30
24044                "\nYoung shakes his head       30
31395              " Gearhead shakes his head       30
42563                  " Yiqi shakes her head       30
97046                '\nEmily shakes her head       30
97087                 '\nJack shakes his head       30
192967                 Gossey shakes her head       30
194336            Guillermina shakes her head       30
195552               Harridan shakes her head       30
295011                 Karoff shakes his head       30
300650            Littlechild shakes his head       30
349937                  Semra shakes her head       30
461099                Verrukt shakes his head       30
636915             ”\nElfrond shakes his head       30
636987                ”\nFrye shakes his head       30
637122                  ”\nHe shakes his head       30
637329           ”\nJane just shakes her head       30
637369                 ”\nJon shakes his head       30
637494                ”\nMike shakes his head       30
637614               ”\nPriam shakes his head       30
637622              ”\nReeves shakes his head       30
637764                ”\nSlim shakes his head       30
637784               ”\nSoren shakes his head       30
637802            ”\nStitcher shakes her head       30
638310            ”\nThompson shakes his head       30
638360                ”\nWang shakes his head       30
643247               ” Bastus shakes his head       30
644136               ” Decena shakes her head       30
646185              ” Hinsman shakes his head       30
647403               ” Karoff shakes his head       30
651577              ” The man shakes his head       30
652648                 ” Tych shakes his head       30

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                   text  cluster
26597                    " "Please help      219
33611                         " Help me      219
60670                             "HELP      219
60671                          "HELP ME      219
61574                             "Help      219
61576                          "Help me      219
61584                       "Help me up      219
62027            "Hey, I need your help      219
65764                      "I need help      219
65793          "I need to get some help      219
65838                 "I need your help      219
78003                     "Please, help      219
78004                  "Please, help me      219
98732                             'Help      219
99035                   'Please help me      219
101921                 , Please help me      219
194596                             HELP      219
194597                          HELP ME      219
214817                             Help      219
214828                          Help me      219
214842                       Help me up      219
214847                  Help me, please      219
214864                       Help, help      219
239181             I may need your help      219
241013                      I need help      219
241035                 I need some help      219
241279                 I need your help      219
241284  I need your help with something      219
314745                   Need some help      219
314746    Need some help with something      219
336530                      PLEASE HELP      219
339758                      Please help      219
339759                   Please help me      219
339920         Please, I need your help      219
339975                  Please, help me      219
600254                             help      219
600255                          help me      219
601550              need some help here      219
601552                   need your help      219
613158                            “Help      219
613160                         “Help me      219
621299                       “Need help      219
664088                          ” “Help      219

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                          text  cluster
25957            " "Is this so      166
70034                 "Is that      166
70058              "Is that it      166
70063           "Is that right      166
70067              "Is that so      166
70090             "Is that you      166
70142                 "Is this      166
76815          "Oh, is that so      166
84599              "This is it      166
252968                 IS THAT      166
265003               Is it you      166
265081                 Is that      166
265125              Is that it      166
265142       Is that really so      166
265145      Is that really you      166
265147           Is that right      166
265150              Is that so      166
265225             Is that you      166
265326                 Is this      166
265371              Is this it      166
265372         Is this it then      166
381266              That is it      166
444871              This IS it      166
446694              This is it      166
600777                 is that      166
600786                 is this      166
600788          is this for me      166
617477             “Is that it      166
617480          “Is that right      166
617482             “Is that so      166
617540             “Is this it      166
617559            “Is this you      166
617562               “Is this…      166
622741       “Oh is that right      166
623059      “Oh, is that right      166
628507             “This is it      166
628509        “This is it then      166
629174        “Uh…” Is this it      166
636244      “oh, is that right      166
652314            ” This is it      166
666227        ” “Is that right      166
666229           ” “Is that so      166
668839  ” “Oh is that right eh      166

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                          text  cluster
26970           " "That's good      245
26982        " "That's so good      245
52484                "Ah, good      245
62226       "Hey, that's great      245
76470                 "Oh good      245
76784                "Oh, good      245
76787               "Oh, great      245
76925         "Oh, that's good      245
82189        "That's fantastic      245
82203             "That's good      245
82214            "That's great      245
82262             "That's nice      245
117521         Ah, that's good      245
327596                Oh great      245
383193          That's amazing      245
383205          That's awesome      245
383269             That's good      245
383278            That's great      245
383443      That's pretty good      245
384097          That’s amazing      245
384113          That’s awesome      245
384159             That’s good      245
384166            That’s great      245
384246             That’s nice      245
384314      That’s pretty good      245
384704        That’s wonderful      245
468927       Well that’s great      245
469846       Well, that's nice      245
601861               oh, great      245
603195            that's great      245
603210      that's really good      245
622709                “Oh good      245
623051               “Oh, good      245
627158            “That’s good      245
627163           “That’s great      245
627299       “That’s wonderful      245
668818              ” “Oh good      245
668939  ” “Oh that’s wonderful      245
670959          ” “That’s good      245
671065     ” “That’s wonderful      245
671071         ” “That’s… good      245
672889     ” “Well that’s good      245
676414   ” … “Oh, that’s great      245

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
27256         " "WHAT      262
27265   " "Wait, what      262
27454         " "What      262
28079         " (WHAT      262
42160          " What      262
51640         " “What      262
85953           "WHAT      262
85963      "WHAT WHAT      262
86051     "Wait, what      262
86082    "Wait-- what      262
89002      "Wha- what      262
89018           "What      262
95544           "what      262
99268           'What      262
457836        Uh what      262
461740           WHAT      262
461875      Wait what      262
461952     Wait, what      262
471258           What      262
604576           what      262
606404          ‘What      262
606688         “ What      262
629191       “Um what      262
629575          “WHAT      262
629623     “Wait what      262
630942     “Well what      262
631693          “What      262
632423         “What…      262
636332         “…What      262
636424         “…what      262
641831        ” "WHAT      262
653159         ” What      262
664713   ” “Huh, what      262
671862  ” “Um…” “What      262
671991   ” “WAIT WHAT      262
671993        ” “WHAT      262
672058  ” “Wait, what      262
673036   ” “Well what      262
673530        ” “What      262
676273       ” “…What      262
676336       ” “…what      262
676395        ” ”What      262
676441          ”WHAT      262

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
30985,""" End Page Items Links Inventory",345
36938,""" Page Items Links Inventory",345
39858,""" The End Page Items Links Inventory",345
46394,""" __________________________________________________ Page Items Links Inventory",345
51668,"""%% Page Items Links Inventory",345
96722,%% Page Items Links Inventory,345
97599,' Page Items Links Inventory,345
101214,) Page Items Links Inventory,345
101547,)) Page Items Links Inventory,345
101736,*** Page Items Links Inventory,345
101779,*********************END OF CHAPTER ONE*********************** Page Items Links Inventory,345
101872,*~ Page Items Links Inventory,345
101919,", Page Items Links Inventory",345
103321,8;\r\n} Page Items Links Inventory,345
103385,:) Page Items Links Inventory,345
103391,:D Page Items Links Inventory,345
103392,":D"" Page Items Links Inventory",345
103396,:P Page Items Links Inventory,345
143644,BAD END Page Items Links Inventory,345
143645,BAD ENDING Page Items Links Inventory,345
173888,END Page Items Links Inventory,345
175751,End Page Items Links Inventory,345
336641,Page Items Links Inventory,345
336669,Page Items Lirin Car'in's allegaince Links Inventory,345
336684,Page Items Rock Links Inventory,345
336686,Page Items Shell Links Inventory,345
336692,Page Items Stick Links Inventory,345
336694,Page Items String Links Inventory,345
378198,THE END Page Items Links Inventory,345
378237,THE WYRM Page Items Links Inventory,345
386195,The End Page Items Links Inventory,345
396998,The end Page Items Links Inventory,345
597243,_______________________End of Chapter 2_______________________ Page Items Links Inventory,345
597249,__________________________________________________ Page Items Links Inventory,345
600585,important;\r\n} Page Items Links Inventory,345
601066,jpg');\r\n} Page Items Links Inventory,345
605830,~ Page Items Links Inventory,345
605834,~Game Over~ Page Items Links Inventory,345
606648,“ Page Items Links Inventory,345
648921,” Page Items Links Inventory,345
651018,” The End Page Items Links Inventory,345
676418,”) Page Items Links Inventory,345

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                                text  cluster
25355                " "Hmm, I dunno      127
25512                " "I don't know      127
58249                         "Dunno      127
62623      "Honestly, I have no idea      127
64219                  "I don't know      127
64254           "I don't know really      127
64524                  "I don’t know      127
64555                       "I dunno      127
64920     "I have absolutely no idea      127
64993                "I have no idea      127
65149         "I honestly don't know      127
65152       "I honestly have no idea      127
76678              "Oh, I don't know      127
231682                  I don't know      127
232361                  I don’t know      127
232564           I don’t really know      127
232925                       I dunno      127
236362         I honestly don't know      127
242311           I really don't know      127
252869               I, I don’t know      127
469221            Well, I don’t know      127
469222     Well, I don’t really know      127
604423             well I don't know      127
610973                        “Dunno      127
614106       “Honestly, I’m not sure      127
615064                 “I don’t know      127
615250                      “I dunno      127
615535               “I have no idea      127
615541             “I have no idea,”      127
618262              “I— I don’t know      127
622561              “Oh I don’t know      127
622564                   “Oh I dunno      127
623004                  “Oh, I dunno      127
663129                      ” “Dunno      127
664279                ” “Hm, I dunno      127
665004               ” “I don’t know      127
665144                    ” “I dunno      127
665342             ” “I have no idea      127
665589        ” “I really don’t know      127
669058                ” “Oh, I dunno      127
672301          ” “Well I don’t know      127
673170  ” “Well, I don’t know really      127

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
30442          " Damn      342
31479   " God damn it      342
56853           "DAMN      342
56925         "Dammit      342
56932           "Damn      342
56937        "Damn it      342
56993        "Damn-it      342
57001           "Dang      342
57002        "Dang it      342
60018     "God dammit      342
60020     "God damnit      342
60053      "Goddammit      342
60060     "Goddamn it      342
98633        'Damn it      342
166056           DAMN      342
166060         DAMNIT      342
166312         Dammit      342
166319           Damn      342
166323        Damn IT      342
166348        Damn it      342
166524         Damnit      342
166572           Dang      342
189709      GODDAMMIT      342
189711     GODDAMN IT      342
189713      GODDAMNIT      342
191990       God damn      342
191992    God damn it      342
192089      Goddammit      342
192093     Goddamn it      342
599304         dammit      342
599306           damn      342
610078       “DAMN IT      342
610109          “Damn      342
610116       “Damn it      342
610185        “Damnit      342
610202       “Dang it      342
612190   “God damn it      342
612205     “Goddammit      342
612216    “Goddamn it      342
662765      ” “Dammit      342
662769        ” “Damn      342
662771     ” “Damn it      342

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
46810,""" body {background-color: #CFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #CFF;\r\n padding: 2px;\r\n border-bottom: 4px double #00F;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding: 4px...",501
46811,""" body {background-color: #FAEBD7; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #FAEBD7;\r\n padding: 4px;\r\n border: 4px double darkgreen;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding:...",501
98508,"','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQTGCGuZr3GmSx0uvwzHzPAgA7'); imgReplace('i_ml','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQjI8GuNfKolPgBYslnDylAgA7'); imgReplace('i_mr','data:im...",501
98511,"','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQTGCGuZr3GmSx0uvwzHzPAgA7'); imgReplace('i_ml','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQjI8GuNfKolPgBYslnDylAgA7'); imgReplace('i_mr','data:im...",501
98512,"','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQTGCGuZr3GmSx0uvwzHzPAgA7'); imgReplace('i_ml','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQjI8GuNfKolPgBYslnDylAgA7'); imgReplace('i_mr','data:im...",501
98513,"','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQTGCGuZr3GmSx0uvwzHzPAgA7'); imgReplace('i_ml','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQjI8GuNfKolPgBYslnDylAgA7'); imgReplace('i_mr','data:im...",501
98514,"','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQTGCGuZr3GmSx0uvwzHzPAgA7'); imgReplace('i_ml','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQjI8GuNfKolPgBYslnDylAgA7'); imgReplace('i_mr','data:im...",501
98515,"','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQTGCGuZr3GmSx0uvwzHzPAgA7'); imgReplace('i_ml','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQjI8GuNfKolPgBYslnDylAgA7'); imgReplace('i_mr','data:im...",501
98517,"','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQTGCGuZr3GmSx0uvwzHzPAgA7'); imgReplace('i_ml','data:image/gif;base64,R0lGODlhBQATAIABAAAAAP///yH5BAEAAAEALAAAAAAFABMAAAIQjI8GuNfKolPgBYslnDylAgA7'); imgReplace('i_mr','data:im...",501
134268,"As he slumped to his knees, he thought the blood smelled good enough to eat…but then everything faded to black… body {background-color: #000; }\r\np {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n color: #000;\r\n padding: 8px;\r\n...",501
143968,Bad Ending #1 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
143969,Bad Ending #2 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
143970,Bad Ending #3 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
143971,Bad Ending #4 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
143972,Bad Ending #5 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
143973,Bad Ending #6 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
143974,Bad Ending #7 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
143975,Bad Ending #8 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
181152,Everything quickly faded to black… body {background-color: #000; }\r\np {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n color: #000;\r\n padding: 8px;\r\n border: 2px outset #FED148;\r\n padding-bottom: 10px;\r\n margin: -...,501
192386,Good Ending #3 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padd...,501
203857,He lived from day to day and he would worry about tomorrow later… body {background-color: #000; }\r\np {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n color: #000;\r\n padding: 8px;\r\n border: 2px outset #FED148;\r\n padding...,501
221088,His stomach gurgled again… body {background-color: #CFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #CFF;\r\n padding: 2px;\r\n border-bottom: 4px double #00F;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: ...,501
277778,"It wasn’t much of a living, but at least he wasn’t going to be attacking people, at least for now… body {background-color: #000; }\r\np {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n color: #000;\r\n padding: 8px;\r\n border: 2...",501
307020,"Maybe with some medical care, someone could figure out what was going on and why he was blacking out… body {background-color: #000; }\r\np {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n color: #000;\r\n padding: 8px;\r\n border...",501
598605,body {\r\n text-indent: 50px;\r\n background-color: #000;\r\n padding: 10px;\r\n border: 2px solid green;\r\n margin: -6px;\r\n} \r\n#aboutlink {\r\n text-align: center;\r\n background-color: #OCF;\r\n border: 2px single white;\r\n}\r...,501
598606,body {\r\n text-indent: 50px;\r\n background-color: #4A4;\r\n padding: 10px;\r\n border: 2px solid white;\r\n margin: -6px;\r\n} \r\n#aboutlink {\r\n text-align: center;\r\n background-color: #FFF;\r\n border: 2px single green;\r\n}\r...,501
598607,body {\r\n text-indent: 50px;\r\n background-color: #4DD2FF;\r\n padding: 10px;\r\n border: 2px solid green;\r\n margin: -6px;\r\n} \r\n#aboutlink {\r\n text-align: center;\r\n background-color: #00bfff;\r\n border: 2px single white;\...,501
598608,body {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n padding: 10px;\r\n border: 2px solid green;\r\n margin: -6px;\r\n} \r\n#aboutlink {\r\n text-align: center;\r\n background-color: #DDD;\r\n border: 0px single white;\r\n}\r...,501
598609,body {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n padding: 10px;\r\n border: 2px solid green;\r\n margin: -6px;\r\n} \r\n#aboutlink {\r\n text-align: center;\r\n background-color: #DDD;\r\n border: 2px single white;\r\n}\r...,501
598610,body {\r\n text-indent: 50px;\r\n background-color: #OCF;\r\n padding: 10px;\r\n border: 2px solid green;\r\n margin: -6px;\r\n} \r\n#aboutlink {\r\n text-align: center;\r\n background-color: #OCF;\r\n border: 2px single white;\r\n}\r...,501
598611,body {\r\n text-indent: 50px;\r\n padding: 10px;\r\n border: 2px solid green;\r\n margin: -6px;\r\n} \r\n#aboutlink {\r\n text-align: center;\r\n background-color: #000;\r\n border: 2px single white;\r\n}\r\na {\r\n background-color: ...,501
598650,body {background-color: #000; }\r\np {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n color: #000;\r\n padding: 8px;\r\n border: 2px outset #FED148;\r\n padding-bottom: 10px;\r\n margin: -8px;\r\n border-bottom: none;\r\...,501
598653,body {background-color: #CFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #CFF;\r\n padding: 2px;\r\n border-bottom: 4px double #00F;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding: 4px;\...,501
598654,body {background-color: #DFD; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #FFF;\r\n padding: 4px;\r\n border: 4px double darkgreen;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding: 4px;\r\...,501
598655,body {background-color: #FAEBD7; }\r\np {\r\n margin-left: 25px\r\n}\r\n#a {\r\n text-indent: -25px;\r\n margin-left: 25px;\r\n} \r\n#about {\r\n background-color: #FAEBD7;\r\n padding: 4px;\r\n border: 4px double darkgreen;\r\n}\r\nli {\r\...,501
598656,body {background-color: #FAEBD7; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #FAEBD7;\r\n padding: 4px;\r\n border: 4px double darkgreen;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding: 4...,501
598657,body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding: 4px;\r\n}\...,501
600609,important;} td img[src*=i_]{visibility:hidden;}\r\n\r\n#about {\r\n background-color: #4DD2FF;\r\n padding: 2px;\r\n border-bottom: 4px double #00F;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding: 4px;\r\n}\r\n#svbanne...,501
657947,” body {background-color: #000; }\r\np {\r\n text-indent: 50px;\r\n background-color: #DDD;\r\n color: #000;\r\n padding: 8px;\r\n border: 2px outset #FED148;\r\n padding-bottom: 10px;\r\n margin: -8px;\r\n border-bottom: none;\...,501
657948,” body {background-color: #CFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #CFF;\r\n padding: 2px;\r\n border-bottom: 4px double #00F;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding: 4px...,501
657949,” body {background-color: #DFD; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #FFF;\r\n padding: 4px;\r\n border: 4px double darkgreen;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n padding: 4px;\...,501

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

,text,cluster
137438,"As you consider Jacob’s fate, you suddenly notice that strange black shadowy specter from your unconscious subway dreams lurking not too far off",968
139227,"As you stand there, you notice that strange shadowy black specter from your unconscious subway dreams lurking nearby",968
139228,"As you stand there, you suddenly notice that strange black shadowy specter from your unconscious subway dreams lurking nearby",968
139229,"As you stand there, you suddenly notice that strange shadowy black specter from your unconscious subway dreams lurking nearby",968
301492,"Looking around, you also see that strange black shadowy specter from your unconscious subway dreams lurking not too far off",968
301522,"Looking around, you see Jacob running off into the woods and that strange black shadowy shape from your unconscious subway dreams lurking nearby",968
301532,"Looking around, you see that strange black shadowy shape from your unconscious dreams lurking nearby",968
301533,"Looking around, you see that strange black shadowy shape from your unconscious subway dreams lurking nearby",968
301552,"Looking around, you suddenly notice that strange black shadowy shape from your unconscious subway dreams lurking nearby",968
301553,"Looking around, you suddenly notice that strange black shadowy specter from your unconscious subway dreams lurking nearby",968
301581,"Looking at the back of the restroom, you see that strange black shadowy shape from your unconscious dreams lurking nearby",968
301661,"Looking back across the street, you see that strange black shadowy shape from your unconscious subway dreams lurking nearby",968
301666,"Looking back at the entrance to the parking garage, you see that strange black shadowy shape from your unconscious subway dreams lurking nearby",968
301681,"Looking back into the alley where it turns a corner to the right, you see that strange shadowy black specter from your unconscious subway dreams",968
301682,"Looking back into the office you were just pulled out of, you see that strange black shadowy shape from your unconscious dreams lurking nearby",968
301696,"Looking back toward the alleyway, you see that strange shadowy black specter from your unconscious subway dreams",968
301697,"Looking back toward the far end of the room, you see that strange shadowy black specter from your unconscious subway dreams",968
301698,"Looking back toward the hallway, you see that strange shadowy black specter from your unconscious subway dreams",968
301939,"Looking out across the street near the subway entrance, you see that strange shadowy black specter from your unconscious subway dreams",968
301943,"Looking out of the alley and into the street, you see that strange shadowy black specter from your unconscious subway dreams",968
301944,"Looking out of the cell door, you see that strange shadowy black specter from your unconscious subway dreams lurking nearby",968
301959,"Looking out the alleyway across the street, you see that strange shadowy black specter from your unconscious subway dreams",968
302046,"Looking toward the back of the hall, you see that strange shadowy black specter from your unconscious subway dreams lurking nearby",968
302066,"Looking up on the wall of stacked cars, you see that strange shadowy black specter from your unconscious subway dreams",968
302070,"Looking up the stairs to the next landing, you see that strange shadowy black specter from your unconscious subway dreams",968
302071,"Looking up the steep rocky embankment, you see that strange shadowy black specter from your unconscious subway dreams",968
302128,"Looking, you see that strange shadowy black specter from your unconscious subway dreams standing by the door",968
329311,"On the landing above, you see that strange shadowy black specter from your unconscious subway dreams",968
372257,Standing in the far corner of the restroom is that strange shadowy black specter from your unconscious subway dreams,968
382988,"That would explain the abrupt change of course…\nThen looking around, you notice that strange black shadowy specter from your unconscious subway dreams lurking not too far off",968
426174,"Then looking down the alley, you notice that strange black shadowy specter from your unconscious subway dreams lurking not too far off",968
426176,"Then looking out toward the rear door of the building, you see that strange shadowy black specter from your unconscious subway dreams lurking nearby",968
426183,"Then looking, you see that strange shadowy black specter from your unconscious subway dreams standing by the door to the room",968
426184,"Then looking, you see that strange shadowy black specter from your unconscious subway dreams standing near the doors of the lab",968
458303,"Under the shaft you just fell in through, you see that strange black shadowy shape from your unconscious subway dreams lurking nearby",968
492815,You also notice that strange black shadowy specter from your unconscious subway dreams lurking not too far off,968
539578,You look back the way you came and see that strange shadowy black specter from your unconscious subway dreams lurking nearby,968
539579,You look back the way you just came and see that strange shadowy black specter from your unconscious subway dreams lurking nearby,968
539580,You look back the way you just came and see that strange shadowy black specter from your unconscious subway dreams standing near your bike,968
540329,You look toward the emergency room entrance and see that strange shadowy black specter from your unconscious subway dreams lurking nearby,968
568361,You then notice that strange shadowy black specter from your unconscious subway dreams lurking at the far end of the skywalk,968

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                       text  cluster
29321   " Ashley-Dante asks      336
29460         " Baryon asks      336
29637         " Bolard asks      336
30910          " Elios asks      336
30928         " Elisio asks      336
30980    " Emilé-Dante asks      336
33770         " Hidius asks      336
33776          " Hinju asks      336
34685          " Ibanz asks      336
34690           " Icus asks      336
35792          " Ligru asks      336
35836          " Lodan asks      336
35973          " Malks asks      336
37608         " Sabley asks      336
39274          " Siggo asks      336
39335         " Sklain asks      336
96143            " Dan asks      336
96176             " He asks      336
96583             " he asks      336
96591            " she asks      336
99410          ' James asks      336
484514          Wildon asks      336
642104      ” Ackerson asks      336
643251     ” Batalimus asks      336
643724         ” Camid asks      336
644381        ” Duggin asks      336
644526         ” Elios asks      336
644723         ” Felsa asks      336
644769        ” Flevas asks      336
645005         ” Gikil asks      336
646140        ” Hessan asks      336
647064        ” Jerran asks      336
648142       ” Marzost asks      336
649076     ” Quetzalli asks      336
649366        ” Rissok asks      336
649695         ” Semra asks      336
650627          ” Spol asks      336
652622          ” Tych asks      336
652862        ” Verant asks      336
676546          ” Rick asks      336

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                         text  cluster
26897                            " "Thank you      242
26898                         " "Thank you Mr      242
26915                               " "Thanks      242
76597                "Oh thank you, thank you      242
76914                          "Oh, thank you      242
81423                              "Thank you      242
81477                      "Thank you so much      242
81482          "Thank you thank you thank you      242
81484                    "Thank you very much      242
81486   "Thank you very much, I appreciate it      242
81490                  "Thank you" "Thank you      242
81522                          "Thank you, Mr      242
81543            "Thank you, much appreciated      242
81548                   "Thank you, thank you      242
81550        "Thank you, thank you, thank you      242
81581                             "Thank, you      242
81584                                 "Thanks      242
81596                           "Thanks a lot      242
96692                            "… Thank you      242
99123                                 'Thanks      242
327750                           Oh thank you      242
380000                              Thank You      242
380039                              Thank you      242
380128                      Thank you so much      242
380136                    Thank you very much      242
380167                   Thank you, thank you      242
380173                             Thank, you      242
380379                                 Thanks      242
380393                           Thanks a lot      242
601830                           oh THANK YOU      242
603087                              thank you      242
603090                                 thanks      242
626733                             “Thank you      242
626776                         “Thank you, Mr      242
626805                                “Thanks      242
636245                             “thank you      242
669126                          ” “Oh, thanks      242
670743                           ” “Thank you      242
670761                              ” “Thanks      242
676317                             ” “…thanks      242

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
27835          " "You      310
42564           " You      310
51721       "**** you      310
85515              "U      310
91617            "YOU      310
92457            "You      310
92510        "You are      310
93388         "You in      310
94170      "You there      310
99316            'You      310
457775              U      310
489636            YOU      310
489713       YOU R IN      310
491330            You      310
491381    You *******      310
494781        You are      310
496219     You are in      310
533369         You in      310
533376   You in there      310
546514  You out there      310
568679      You there      310
583221           You:      310
593656      You’re in      310
596349           You…      310
605051            you      310
605066        you are      310
605553      you there      310
605683      you're in      310
633269           “YOU      310
634319           “You      310
634359       “You are      310
635375     “You there      310
636114          “You…      310
636333          “…YOU      310
636452     “…you… YOU      310
674224         ” “YOU      310
675404         ” “You      310
675430     ” “You are      310
676400         ” ”You      310

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
24626           " "Ah well       62
26493          " "Oh, well       62
36732            " Oh well       62
52410             "Ah well       62
62485   "Hmm, alright then       62
76419     "Oh alright then       62
76609             "Oh well       62
76724              "Oh, OK       62
76732       "Oh, all right       62
76734         "Oh, alright       62
76868              "Oh, ok       62
76869         "Oh, ok then       62
76959            "Oh, well       62
99013            'Oh, okay       62
117452             Ah well       62
117546            Ah, well       62
327499             Oh Well       62
327504        Oh all right       62
327797             Oh well       62
328027         Oh, alright       62
328230            Oh, well       62
328234           Oh, well…       62
458022       Um, okay then       62
597506            ah, well       62
601851             oh well       62
613895      “Hm, okay then       62
622600         “Oh alright       62
622918            “Oh well       62
629253      “Um, okay then       62
661336         ” “Ah, okay       62
663252   ” “Erm, okay then       62
664454   ” “Hmm, okay then       62
668750       ” “Oh alright       62
668896          ” “Oh okay       62
668970          ” “Oh well       62
669110         ” “Oh, okay       62
669111    ” “Oh, okay then       62
671802    ” “Um, okay then       62

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                          text  cluster
24744          " "Are you okay       74
53996              "Are you OK       74
53997     "Are you OK in there       74
54023         "Are you alright       74
54121            "Are you okay       74
54122   "Are you okay in there       74
61892     "Hey are you alright       74
61894        "Hey are you okay       74
62105    "Hey, are you alright       74
62289           "Hey, you okay       74
88483      "Well, are you okay       74
92482             "You alright       74
93824                "You okay       74
98565            'Are you okay       74
131860              Are you OK       74
131893         Are you alright       74
132086              Are you ok       74
132087            Are you okay       74
132089        Are you okay now       74
132091     Are you okay though       74
458047            Um, you okay       74
492498             You alright       74
545661                You okay       74
583159               You, okay       74
583231       You: Are you okay       74
583260               You: Okay       74
598320              are you OK       74
598323         are you alright       74
598335              are you ok       74
598336            are you okay       74
608305        “Are you alright       74
608370           “Are you okay       74
624289   “Really, are you okay       74
634339            “You alright       74
635152                 “You ok       74
635153               “You okay       74
661872      ” “Are you alright       74
675415          ” “You alright       74

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                 text  cluster
27593                  " "Who are you      294
80072                 "So who are you      294
88299               "Well who are you      294
90659                    "Who are you      294
90673              "Who are you, then      294
90697            "Who exactly are you      294
90741           "Who on earth are you      294
90754           "Who the Hell are you      294
90756           "Who the fuck are you      294
90758     "Who the fuck are you, then      294
90766           "Who the hell are you      294
96638              "¿Who fuck are you      294
366424                 So who are you      294
461769                    WHO ARE YOU      294
482409                    Who ARE you      294
482428                    Who are YOU      294
482442                    Who are you      294
482445             Who are you anyway      294
482449             Who are you people      294
482457       Who are you to me anyway      294
482463              Who are you, then      294
482606       Who in the world are you      294
482857           Who the fuck are you      294
482869           Who the hell are you      294
482870    Who the hell are you anyway      294
482988                   Who you were      294
604820                    who are you      294
604821           who are you actually      294
604847                        who you      294
606520                 ’) Who are you      294
629582          “WHO THE FUCK ARE YOU      294
629583                       “WHO YOU      294
632711                   “Who are you      294
632757          “Who the fuck are you      294
632765  “Who the hell are you, anyway      294
632824                  “Who… Are you      294
636431                  “…who are you      294
673974                 ” “Who are you      294

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                      text  cluster
31848                     " He asked again      351
31864                            " He asks      351
31878                " He asks indignantly      351
31879                " He asks maliciously      351
31881               " He asks pathetically      351
31883                     " He asks warily      351
31887                 " He asks worryingly      351
31911                 " He asks, unsettled      351
31912   " He asks, with a bit of hesitance      351
46962                            " he asks      351
46968                      " he asks again      351
46978                  " he asks excitedly      351
46991              " he asks incredulously      351
46994                     " he asks meanly      351
46996                       " he asks next      351
46997               " he asks open-endedly      351
47000                   " he asks somberly      351
47004               " he asks thoughtfully      351
47005                    " he asks timidly      351
47011                  " he asks worriedly      351
47030                  " he asks, grinning      351
47056                  " he asks, unnerved      351
97857                            ' he asks      351
600109                             he asks      351
645275                           ” He asks      351
645276                     ” He asks again      351
645277                 ” He asks nervously      351
645279                   ” He asks wearily      351
658010                           ” he asks      351
658017                   ” he asks bluntly      351
658018                ” he asks cheerfully      351
658019               ” he asks desperately      351
658020                 ” he asks excitedly      351
658023                   ” he asks himself      351
658030                 ” he asks nervously      351
658036                   ” he asks tensely      351

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                       text  cluster
42868                 " You ask your sister      449
43135         " You call out to your sister      449
43785        " You hear your sister request      449
46230                    " Your sister asks      449
46231                 " Your sister remarks      449
46234                " Your sister responds      449
46235                    " Your sister says      449
70094                  "Is that your sister      449
71426                     "It's your sister      449
270975                    It is your sister      449
282368                     It's your sister      449
287030                     It’s your sister      449
489824                          YOUR SISTER      449
590168                  Your sister is here      449
590184                    Your sister maybe      449
590189                   Your sister speaks      449
597406                        a your sister      449
624921                   “She’s your sister      449
628596                 “This is your sister      449
634916         “You know how your sister is      449
657283              ” Your sister continues      449
657284  ” Your sister exhales and continues      449
657287                 ” Your sister laughs      449
657290             ” Your sister points out      449
657292                ” Your sister remarks      449
657294                ” Your sister replies      449
657295               ” Your sister responds      449
657296                   ” Your sister says      449
657299       ” Your sister says half-asleep      449
657300            ” Your sister says in awe      449
660981                   ” your sister asks      449
660983                ” your sister demands      449
660984               ” your sister exclaims      449
660985             ” your sister points out      449
660986  ” your sister responds with a smile      449
660987                   ” your sister says      449

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
26448       " "Oh shit      207
28548       " Ah, fuck      207
36728        " Oh shit      207
42089      " Well damn      207
52392         "Ah fuck      207
52482        "Ah, fuck      207
76415         "Oh Shit      207
76459         "Oh fuck      207
76578         "Oh shit      207
76581   "Oh shit, over      207
76887        "Oh, shit      207
88178       "Well shit      207
98170     ''Well, shit      207
99009         'Oh shit      207
117495        Ah, fuck      207
143338        Aw, fuck      207
325580         OH FUCK      207
327469         Oh Fuck      207
327493         Oh Shit      207
327577         Oh fuck      207
327708         Oh shit      207
328107        Oh, fuck      207
468471       Well damn      207
468823       Well shit      207
469452      Well, fuck      207
601840         oh fuck      207
601848         oh shit      207
622417        “OH SHIT      207
622685        “Oh fuck      207
622840        “Oh shit      207
623166       “Oh… shit      207
653126    ” Well, shit      207
668804      ” “Oh fuck      207
668913      ” “Oh shit      207
672808    ” “Well shit      207

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                          text  cluster
26358            " "Not at all      199
26370            " "Not really      199
27211        " "Um, not really      199
74939           "No not at all      199
75266          "No, not at all      199
75291              "No, really      199
75577              "Not at all      199
75658              "Not really      199
85576      "Uh, no, not at all      199
98979              'Not really      199
308089         Meh, not really      199
314179         Nah, not really      199
318236      No, no, not at all      199
318248          No, not at all      199
318262          No, not really      199
318290              No, really      199
319886              Not at all      199
320921              Not really      199
601705              not really      199
601708          not really, no      199
606377             ‘Not at all      199
621768         “No, not at all      199
621771         “No, not really      199
621796             “No, really      199
622015             “Not really      199
629112      “Uh, no not really      199
629241      “Um, no not really      199
663185       ” “Eh, not really      199
668184       ” “No, not at all      199
668188       ” “No, not really      199
668341           ” “Not at all      199
668371      ” “Not exactly, no      199
668421           ” “Not really      199
668441       ” “Not really, no      199
672741  ” “Well no, not really      199

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                         text  cluster
27590                  " "Who      293
42275                   " Who      293
90650                    "Who      293
90707                 "Who is      293
90713              "Who is it      293
90718            "Who is that      293
90722            "Who is this      293
90811             "Who's that      293
90817             "Who's this      293
99295            'Who is this      293
461768                    WHO      293
461771              WHO IS IT      293
482408                    Who      293
482621              Who is it      293
482629            Who is that      293
482637            Who is this      293
482644  Who is this “someone”      293
482908           Who was this      293
482909        Who was this Mr      293
483004             Who's that      293
483011             Who's this      293
483152             Who’s that      293
483156         Who’s this one      293
604816                    who      293
604830             who is it…      293
632706                   “Who      293
632739             “Who is it      293
632776          “Who was that      293
632823                  “Who…      293
653317          ” Who is that      293
673966                 ” “Who      293
674010          ” “Who's this      293
674019          ” “Who’s that      293
674021     ” “Who’s this then      293

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
26480     " "Oh, my God      211
28070      " (Oh my god      211
36722          " Oh god      211
76160        "OH MY GOD      211
76466           "Oh god      211
76498           "Oh man      211
76508        "Oh my God      211
76519        "Oh my god      211
76536       "Oh my gosh      211
76663          "Oh, God      211
76841       "Oh, my God      211
76846       "Oh, my god      211
325585        OH MY GOD      211
327470           Oh God      211
327491        Oh My God      211
327638           Oh man      211
327646        Oh my God      211
327651        Oh my god      211
327658       Oh my gosh      211
327999          Oh, God      211
328143          Oh, man      211
328147       Oh, my God      211
601841           oh god      211
601843        oh my God      211
601844        oh my god      211
622414       “OH MY GOD      211
622548          “Oh God      211
622702          “Oh god      211
622768       “Oh my God      211
622776       “Oh my god      211
622786  “Oh my goodness      211
623070      “Oh, my God      211
668694        ” “Oh God      211

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                 text  cluster
27257            " "WTF is that thing      263
27528        " "What the hell is this      263
42198         " What the fuck is that      263
62261     "Hey, what the hell is that      263
82879               "The fuck is this      263
85959          "WHAT THE FUCK IS THIS      263
89715          "What on earth is that      263
89754          "What the FUCK is that      263
89760   "What the actual FUCK is that      263
89790          "What the fuck is that      263
89791          "What the fuck is this      263
89843          "What the hell is that      263
89848          "What the hell is this      263
90171               "What, that thing      263
471340             What IS that thing      263
472977             What is that thing      263
473036             What is this thing      263
473287          What on earth is that      263
473514          What the fuck is that      263
473517          What the fuck is this      263
604640             what is this thing      263
604656          what on earth is that      263
629048        “Ugh, what is this shit      263
629578         “WHAT THE FUCK IS THAT      263
631998            “What is that thing      263
632118         “What the fuck is this      263
632119    “What the fuck is this shit      263
632122             “What the fuck is…      263
632182         “What the hell is that      263
632183   “What the hell is that thing      263
632185         “What the hell is this      263
632187        “What the hell is this…      263

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
42196        " What the fuck      437
42200        " What the hell      437
85961         "WHAT THE HELL      437
89564      "What in the hell      437
89753         "What the FUCK      437
89755         "What the HELL      437
89756         "What the Hell      437
89765         "What the fuck      437
89806         "What the heck      437
89813         "What the hell      437
461752         WHAT THE FUCK      437
473468         What the fuck      437
473534         What the heck      437
473544         What the hell      437
473601     What the hell for      437
604666         what the hell      437
632080        “What the fuck      437
632132       “What the fuck…      437
632140        “What the heck      437
632143        “What the hell      437
632205       “What the hell…      437
636273       “”What the fuck      437
636428       “…what the hell      437
653175       ” What the hell      437
671994      ” “WHAT THE FUCK      437
673745      ” “What the fuck      437
673749     ” “What the fuck…      437
673750      ” “What the heck      437
673751      ” “What the hell      437
673758  ” “What the hell for      437
676275     ” “…What the fuck      437

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
36941,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Costello's friendship necklace",390
36943,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Hen's neighbour's friendship necklaces [...",390
36944,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship ne...",390
36945,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace",390
36947,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Hen's neighbour's friendship necklaces [...",390
36948,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship ne...",390
36949,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Recycling event friendship necklace",390
36951,""" Page Items Links Inventory My Inventory Item Preview Peacock Feather clue [Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Mother's Sabley Friendship necklace [Use Item] [...",390
36953,""" Page Items Links Inventory My Inventory Item Preview Peacock ring clue [Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Mother's Sabley Friendship necklace [Use Item] [Hid...",390
36955,""" Page Items Links Inventory My Inventory Item Preview Recycling event friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Item Table Recycling event friendship necklace Costello's friendship necklace",390
36957,""" Page Items Links Inventory My Inventory Item Preview Recycling event friendship necklace [Use Item] [Hide] Item Table Recycling event friendship necklace",390
336647,Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Costello's friendship necklace,390
336649,Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Hen's neighbour's friendship necklaces [Us...,390
336650,Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship neck...,390
336651,Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace,390
336653,Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Hen's neighbour's friendship necklaces [Us...,390
336654,Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship neck...,390
336656,Page Items Links Inventory My Inventory Item Preview Peacock Feather clue [Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Mother's Sabley Friendship necklace [Use Item] [Hi...,390
336658,Page Items Links Inventory My Inventory Item Preview Peacock ring clue [Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Mother's Sabley Friendship necklace [Use Item] [Hide]...,390
336662,Page Items Links Inventory My Inventory Item Preview Recycling event friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Item Table Recycling event friendship necklace Costello's friendship necklace,390
597083,[Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Juana friendship necklace Co...,390
597084,[Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Juana friendship necklace Costello's friendship necklace,390
597086,[Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Costello's friendship necklace Juana friendship necklace Hen's neighbour's fr...,390
597087,[Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Recycling event friendship necklace Juana friendship necklace Hen's neighbour...,390
597088,[Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Item Table Recycling event friendship necklace Costello's friendship necklace Juana friendship necklace Hen's neighbour's fr...,390
597108,[Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Costello's friendship necklace Juana friendship necklace,390
597109,[Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Juana friendship necklace,390
597110,[Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Recycling event friendship necklace Juana friendship necklace,390
597113,[Use Item] [Hide] Item Table Recycling event friendship necklace Costello's friendship necklace Juana friendship necklace,390
597119,[Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Juana friendship neckla...,390
597120,[Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Juana friendship necklace Recycling event friendship necklace,390

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

              text  cluster
25219     " "Go on      112
31473         " Go      112
31475      " Go on      112
59497      "GET IN      112
59503          "GO      112
59635      "Get in      112
59886          "Go      112
59946       "Go on      112
60001      "Go, go      112
98685          'GO      112
98693          'Go      112
99746       (Go on      112
189702          GO      112
190521      Get in      112
190578      Get on      112
191649          Go      112
191779       Go go      112
191785       Go in      112
191815       Go on      112
191948      Go, go      112
191950  Go, go, go      112
599947          go      112
599951       go on      112
599959  go, go, go      112
611972     “Get on      112
612126         “Go      112
612169      “Go on      112
612170   “Go on in      112
663542       ” “GO      112
663634       ” “Go      112
663640    ” “Go on      112

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                              text  cluster
38070                   " She asks      399
38072        " She asks accusingly      399
38073             " She asks again      399
38075         " She asks excitedly      399
38090           " She asks sweetly      399
48243        " she asked nervously      399
48248                   " she asks      399
48258            " she asks flatly      399
48267         " she asks nervously      399
48269           " she asks quietly      399
48270            " she asks softly      399
48273           " she asks timidly      399
48275        " she asks unsteadily      399
48280       " she asks with dismay      399
48288     " she asks you nervously      399
48303        " she asks, curiously      399
48742          " she sleepily asks      399
97886                   ' she asks      399
351568           She asks sleepily      399
602592                    she asks      399
649806                  ” She asks      399
658643         ” she asked quietly      399
658644                  ” she asks      399
658647  ” she asks a bit nervously      399
658648            ” she asks again      399
658652             ” she asks back      399
658654      ” she asks demandingly      399
658663         ” she asks jovially      399
658665      ” she asks quizzically      399
658666         ” she asks sleepily      399
658719         ” she groggily asks      399

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
6223,"""\n""OK, what's your name",13
27516,""" ""What is your name",13
27555,""" ""What's your name",13
27556,""" ""What's your name, anyway",13
28038,""" ""what's your name",13
55729,"""By the way, what was your name again",13
76629,"""Oh yeah, whats your name",13
80312,"""So, what's your name",13
86059,"""Wait, what's your name",13
89652,"""What is your name",13
89653,"""What is your name, by the way",13
90143,"""What's your name",13
90225,"""Whats your name",13
217431,"Hey, what’s your name",13
228181,"I ask, ""What is your name",13
240624,"I mean, what is your name",13
473058,What is your name,13
473059,What is your name anyway,13
473886,What was your name again,13
473887,"What was your name, again",13
474463,What's your name,13
474464,What's your name again,13
475045,What’s your name,13
600614,"important;}a:visited{color:white;}a:hover{color:crimson;text-decoration:underline;} ""What's your name",13
604643,what is your name again,13
613814,"“Hi, what’s your name",13
625572,“So what’s your name,13
632014,“What is your name,13
632418,“What’s your name,13
632419,“What’s your name anyway,13
673712,” “What is your name,13

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                 text  cluster
27482             " "What do I do now      278
27521             " "What should I do      278
42178            " What else can I do      278
42192              " What should I do      278
89244                  "What can I do      278
89315                   "What do I do      278
89317     "What do I do, what do I do      278
89696                 "What must I do      278
89731                "What shall I do      278
240620     I mean, what else can I do      278
324176           Now what should I do      278
328490         Okay, now what do I do      278
366251            So what do I do now      278
471825                  What can I DO      278
471826                  What can I do      278
472063                   What do I do      278
472065              What do I do next      278
472066               What do I do now      278
472069           What do I have to do      278
472072           What do I need to do      278
472080           What do I want to do      278
472212  What do you suggest I do next      278
472219  What do you think I should do      278
472376             What else can I do      278
473377               What should I do      278
473379          What should I do next      278
604605                   what do I do      278
622300              “Now what do I do      278
631821                 “What can I do      278
632254       “What would I need to do      278

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                          text  cluster
32784                        " He said smiling      366
32895                        " He says smiling      366
32922          " He says with a bit of a laugh      366
32924                   " He says with a laugh      366
32926        " He says with a mischievous grin      366
32927                   " He says with a smile      366
32928                   " He says with a smirk      366
32980                      " He says, grinning      366
38835            " She says with a cheeky grin      366
38837                  " She says with a laugh      366
38838                   " She says with a sigh      366
47008                   " he asks with a laugh      366
47402                   " he says with a scowl      366
47403                   " he says with a smile      366
47459                      " he says, grinning      366
47488                       " he says, smiling      366
48609           " she says softly, with a sigh      366
48621            " she says with a cheeky grin      366
48622                " she says with a chuckle      366
48690             " she says, with a wide grin      366
51735                     ", He says with grin      366
98060                      '' he says, smiling      366
645704           ” He says to you with a smile      366
645708            ” He says with a brief smile      366
650168  ” She says with a big grin on her face      366
650172                  ” She says with a grin      366
650173                 ” She says with a smirk      366
657588             ” Zalmora says with a smirk      366
658203            ” he says as his grin widens      366
658237            ” he says with a wicked grin      366

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                                 text  cluster
43731                     " You hear Marrissa's voice      464
43756                          " You hear a voice say      464
50231                   " you hear a gentle voice say      464
50233                    " you hear a raspy voice say      464
50237                          " you hear a voice say      464
50241              " you hear an unfamiliar voice ask      464
427186                          Then you hear a voice      464
531076          You hear a familiar voice next to you      464
531235                               You hear a voice      464
531288                         You hear another voice      464
654600                       ” You hear Aryyn’s voice      464
654616                ” You hear Isabella’s voice say      464
654627            ” You hear a familiar voice whisper      464
654635                      ” You hear a voice answer      464
654638                         ” You hear a voice say      464
654642                  ” You hear a voice shout back      464
654643  ” You hear a voice shout from the battlements      464
654645                ” You hear a whispery voice say      464
659933                ” you hear Lilith’s voice shout      464
659961                ” you hear a familiar voice ask      464
659962              ” you hear a familiar voice shout      464
659965               ” you hear a gruff voice exclaim      464
659970                   ” you hear a small voice say      464
659972                         ” you hear a voice ask      464
659973                     ” you hear a voice chuckle      464
659974                     ” you hear a voice exclaim      464
659976                         ” you hear a voice say      464
659978                       ” you hear a voice shout      464
659980                  ” you hear a voice shout back      464
659989                 ” you hear another voice shout      464

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
26514      " "Okay then      214
28725    " Alright then      214
52980     "Alright then      214
53154    "Alright, then      214
53212    "Alrighty then      214
76169          "OK then      214
77111        "Okay then      214
77197       "Okay, then      214
85946        "WELL THEN      214
88224        "Well then      214
88725       "Well, then      214
120967     Alright then      214
121028    Alright, then      214
325609         OK, then      214
328299          Ok then      214
328332         Ok, then      214
328386        Okay then      214
328531       Okay, then      214
468952        Well then      214
597579     alright then      214
597583    alrighty then      214
607524    “Alright then      214
623191         “Ok then      214
623198   “Ok, fine then      214
623296       “Okay then      214
623535      “Okay, then      214
631281      “Well, then      214
661426  ” “Alright then      214
669237     ” “Okay then      214

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
24499,""" What do you do: Page Items Links Inventory",51
30720,""" Do you: Page Items Links Inventory",51
42173,""" What do you do: Page Items Links Inventory",51
42206,""" What would you like to do now: Page Items Links Inventory",51
46037,""" You: Page Items Links Inventory",51
171231,Do you: Page Items Links Inventory,51
307581,Maybe… Page Items Links Inventory,51
327492,Oh Page Items Links Inventory,51
365092,So far… Page Items Links Inventory,51
471730,What are you going to do: Page Items Links Inventory,51
472134,What do you do now: Page Items Links Inventory,51
472146,What do you do: Page Items Links Inventory,51
472207,What do you say: Page Items Links Inventory,51
472259,What do you want to do Page Items Links Inventory,51
473294,What one would you like to look at: Page Items Links Inventory,51
473723,What to do now: Page Items Links Inventory,51
474034,What would like to do: Page Items Links Inventory,51
474065,What would you like to do now: Page Items Links Inventory,51
474068,What would you like to do: Page Items Links Inventory,51
489539,XD Page Items Links Inventory,51
494550,You answer: Page Items Links Inventory,51
511499,You decide to: Page Items Links Inventory,51
530875,You head to: Page Items Links Inventory,51
533443,You insinctively answer : Page Items Links Inventory,51
553009,You reply: Page Items Links Inventory,51
555101,You say: Page Items Links Inventory,51
604683,what would you like to do now: Page Items Links Inventory,51
605160,you can: Page Items Links Inventory,51
605730,you: Page Items Links Inventory,51

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                             text  cluster
583569           Your Score is 17     1195
583570           Your Score is 18     1195
583571           Your Score is 19     1195
583572           Your Score is 20     1195
583573           Your Score is 21     1195
583574           Your Score is 22     1195
583575           Your Score is 23     1195
583576           Your Score is 24     1195
583577           Your Score is 25     1195
583578           Your Score is 26     1195
583579           Your Score is 27     1195
583580           Your Score is 28     1195
583581           Your Score is 29     1195
583582           Your Score is 30     1195
583583           Your Score is 31     1195
583584           Your Score is 32     1195
583585           Your Score is 33     1195
583586           Your Score is 34     1195
583587           Your Score is 35     1195
583588           Your Score is 36     1195
583589           Your Score is 37     1195
583590           Your Score is 38     1195
583591           Your Score is 39     1195
583592           Your Score is 40     1195
589928           Your score is 15     1195
589929  Your score is 4 out of 20     1195
589931  Your score is 5 out of 20     1195
589932            Your score is 8     1195

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                      text  cluster
11960        "\nA05 laughs       29
11994     "\nAdrian laughs       29
12873     "\nBolard laughs       29
13405      "\nDante laughs       29
14327         "\nHe laughs       29
15661      "\nJoöno laughs       29
15740        "\nKai laughs       29
15787    "\nKitsune laughs       29
16057   "\nMargaret laughs       29
16180       "\nMerk laughs       29
17010        "\nRex laughs       29
37168      " Ragnor laughs       29
97119      '\nRowan laughs       29
160634   Cassamento laughs       29
167596       Decena laughs       29
296417        Kovas laughs       29
343890     Redscale laughs       29
343915    Redskeach laughs       29
379114       Tangor laughs       29
491271      Yevgeni laughs       29
637073        ”\nHe laughs       29
637377  ”\nJonathan laughs       29
644164    ” Dendrin laughs       29
645010      ” Gikil laughs       29
645156       ” Gruz laughs       29
649031  ” Posilodja laughs       29
652533     ” Trelik laughs       29
657534        ” Zal laughs       29

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
34009     " Hun-Spruk shouts      376
34687         " Ibanz shouts      376
37414        " Ridney shouts      376
38017         " Shada shouts      376
596848           Zoll shouts      376
641741      ”  Decena shouts      376
643734        ” Camid shouts      376
643837     ” Chargrum shouts      376
644137       ” Decena shouts      376
645019        ” Gikil shouts      376
646147       ” Hessan shouts      376
646148  ” Hessan shouts back      376
647121       ” Jirzan shouts      376
647508       ” Kelium shouts      376
647509        ” Kelle shouts      376
647568       ” Kessla shouts      376
647624        ” Klint shouts      376
647641        ” Krech shouts      376
647801        ” Lifto shouts      376
648867     ” One-Eyed shouts      376
649029        ” Posil shouts      376
649126        ” Ragar shouts      376
649170        ” Ranko shouts      376
649726        ” Semra shouts      376
650448      ” Shrimpy shouts      376
652649         ” Tych shouts      376
657590      ” Zalmora shouts      376

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                    text  cluster
11961        "\nA05 nods       34
13044     "\nCabana nods       34
13415     "\nDardis nods       34
14105   "\nHarridan nods       34
14410         "\nHe nods       34
14765     "\nHidius nods       34
15635     "\nJoseph nods       34
15972      "\nLucas nods       34
18201       "\nTarn nods       34
20399      "\nValek nods       34
20407      "\nVitre nods       34
51754     ", and he nods       34
60598       "Gruzub nods       34
97064         '\nHe nods       34
144073     Ballyhoo nods       34
291759         Joad nods       34
436272     Thewliss nods       34
636831     ”\nCorey nods       34
636986      ”\nFrye nods       34
637094        ”\nHe nods       34
637344     ”\nJared nods       34
637366       ”\nJon nods       34
637492      ”\nMike nods       34
638359      ”\nWang nods       34
646180    ” Hinsman nods       34
649037   ” Pralthar nods       34
649055      ” Prinn nods       34

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
26849             " "Stop      238
78767               "STOP      238
78768            "STOP IT      238
80940               "Stop      238
80960            "Stop it      238
80961        "Stop it now      238
80978          "Stop that      238
80981          "Stop this      238
99103               'Stop      238
347312               STOP      238
347315            STOP IT      238
374744               Stop      238
374772            Stop it      238
374774     Stop it please      238
374775  Stop it right now      238
374778    Stop it, please      238
374798          Stop that      238
374802          Stop this      238
602964               stop      238
624513              “STOP      238
626270              “Stop      238
626281           “Stop it      238
626295         “Stop that      238
626303     “Stop this now      238
626311      “Stop, please      238
670569         ” “Stop it      238

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                         text  cluster
27870              " "You did      312
92934                "You did      312
93638            "You made it      312
434557  There, you’ve done it      312
470145   Well, you've done it      312
489665             YOU DID IT      312
489761             YOU did it      312
491411             You Did It      312
491640    You actually did it      312
511901                You did      312
511930             You did it      312
511994           You did that      312
512001           You did this      312
512004     You did this to me      312
514773               You done      312
528728       You have made it      312
540958            You made it      312
582341         You've done it      312
582674         You've made it      312
595663         You’ve done it      312
595979         You’ve made it      312
634585               “You did      312
674225             ” “YOU DID      312
675556            ” “You done      312

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                           text  cluster
25165    " "Follow me," he says      550
56444       "Come on, follow me      550
56557     "Come then, follow me      550
56590          "Come, follow me      550
59084                "Follow me      550
59086   "Follow me" Lucias said      550
59090          "Follow me, dude      550
59091        "Follow me, please      550
59099      "Follow me," you say      550
163390       Come on, follow me      550
163586          Come, follow me      550
185243                Follow me      550
185248       Follow me this way      550
185256          Follow me, then      550
185258      Follow me," he says      550
293574           Just follow me      550
339736         Please follow me      550
339966        Please, follow me      550
365099             So follow me      550
611591               “Follow me      550
611592    “Follow me, Commander      550
611593    “Follow me, follow me      550
611594   “Follow me, shipmaster      550
671274        ” “Then follow me      550

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
24643    " "Ahhh       65
24644   " "Ahhhh       65
52175       "AHH       65
52176      "AHHH       65
52605       "Ahh       65
52615      "Ahhh       65
52622     "Ahhhh       65
77042       "Ohh       65
98541      'Ahhh       65
111359       AHH       65
111361      AHHH       65
117615       Ahh       65
117623      Ahhh       65
117628     Ahhhh       65
117629    Ahhhhh       65
328264       Ohh       65
328274     Ohhhh       65
607286      “Ahh       65
607293     “Ahhh       65
623157     “Ohhh       65
642237     ” Ahh       65
669166    ” “Ohh       65
669167   ” “Ohhh       65

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                       text  cluster
26451      " "Oh yeah, sure      208
26864               " "Sure      208
39615                " Sure      208
81071                 "Sure      208
81101           "Sure, sure      208
91907           "Yeah, sure      208
91974     "Yeah, yeah, sure      208
327941        Oh yeah, sure      208
376960                 Sure      208
489958            Yeah sure      208
490097   Yeah, sure I guess      208
603013                 sure      208
622943        “Oh yeah sure      208
626361                “Sure      208
626368     “Sure about that      208
633372           “Yeah sure      208
633724          “Yeah, sure      208
668926           ” “Oh sure      208
670593              ” “Sure      208
670645        ” “Sure, sure      208
671746   ” “Uhhh, yeah sure      208
674409    ” “Yeah yeah sure      208
674865  ” “Yeah, yeah, sure      208

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
46390     " [Turn to Page 28      499
46391   " [Turn to Page 28])      499
46392     " [Turn to page 39      499
46393     " [Turn to page 40      499
100484      (Turn to Page 24      499
100485     (Turn to Page 24)      499
100486     (Turn to Page 30)      499
100487      (Turn to Page 35      499
456587        Turn to Page 7      499
456588        Turn to page 7      499
597052      [Turn to Page 12      499
597053      [Turn to Page 22      499
597055      [Turn to page 10      499
597056      [Turn to page 19      499
597057      [Turn to page 20      499
597059      [Turn to page 22      499
597060      [Turn to page 23      499
597063      [Turn to page 34      499
597065      [Turn to page 36      499
597066      [Turn to page 41      499
597068       [Turn to page 8      499
597233     ]) Turn to page 4      499
597234     ]) Turn to page 5      499

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                                                 text  cluster
10005             "\n"What the fuck is wrong with you       22
10009             "\n"What the heck is wrong with you       22
42199               " What the fuck is wrong with you       22
82880                     "The fuck is wrong with you       22
89649                         "What is wrong with you       22
89846           "What the hell is the matter with you       22
89849                "What the hell is wrong with you       22
232597     I don’t see what the hell is wrong with me       22
401728                     The hell is wrong with you       22
473049                          What is wrong with me       22
473050                         What is wrong with you       22
473518                What the fuck is wrong with you       22
473630                 What the hell is wrong with me       22
473631                What the hell is wrong with you       22
473633         What the hell is wrong with you people       22
474451                          What's wrong with you       22
475039                          What’s wrong with you       22
599889                         fuck is wrong with you       22
610130  “Damn it, what the hell is wrong with you all       22
632121               “What the fuck is wrong with you       22
632188               “What the hell is wrong with you       22
632414                         “What’s wrong with you       22
673858                        ” “What’s wrong with me       22

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                      text  cluster
46083   " Your dad exclaims half heartedly      497
46111                " Your father bellows      497
46116                   " Your father says      497
51353         " your father asks curiously      497
51358         " your father reprimands you      497
51359                   " your father says      497
95225                         "Your father      497
102094                       - your father      497
282340                       It's your dad      497
583410                         Your FATHER      497
584961                            Your dad      497
585732                         Your father      497
635629                           “Your Dad      497
657161                     ” Your dad asks      497
657163                     ” Your dad says      497
657203                  ” Your father says      497
660943                  ” your Dad remarks      497
660951                     ” your dad asks      497
660952                 ” your dad exclaims      497
660955                  ” your father asks      497
660956              ” your father exclaims      497
660957                  ” your father says      497
675992                      ” “Your father      497

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
186624,"For the eighteenth time, he pressed the only button he knew he could: kill Wilson",986
186625,"For the eighth time, he pressed the only button he knew he could: kill Wilson",986
186626,"For the eleventh time, he pressed the only button he knew he could: kill Wilson",986
186628,"For the fifteenth time, he pressed the only button he knew he could: kill Wilson",986
186629,"For the fifth time, he pressed the only button he knew he could: kill Wilson",986
186728,"For the fourteenth time, he pressed the only button he knew he could: kill Wilson",986
186729,"For the fourth time, he pressed the only button he knew he could: kill Wilson",986
186839,"For the nineteenth time, he pressed the only button he knew he could: kill Wilson",986
186840,"For the ninth time, he pressed the only button he knew he could: kill Wilson",986
186898,"For the second time, he pressed the only button he knew he could: kill Wilson",986
186906,"For the seventeenth time, he pressed the only button he knew he could: kill Wilson",986
186907,"For the seventh time, he pressed the only button he knew he could: kill Wilson",986
186908,"For the sixteenth time, he pressed the only button he knew he could: kill Wilson",986
186909,"For the sixth time, he pressed the only button he knew he could: kill Wilson",986
186912,"For the tenth time, he pressed the only button he knew he could: kill Wilson",986
186920,"For the third time, he pressed the only button he knew he could: kill Wilson",986
186921,"For the thirteenth time, he pressed the only button he knew he could: kill Wilson",986
186932,"For the twelfth time, he pressed the only button he knew he could: kill Wilson",986
186934,"For the twentieth time, he pressed the only button he knew he could: kill Wilson",986
186935,"For the twenty-first time, he pressed the only button he knew he could: kill Wilson",986
186936,"For the twenty-second time, he pressed the only button he knew he could: kill Wilson",986
186937,"For the twenty-third time, he pressed the only button he knew he could: kill Wilson",986
186938,"For the twenty-third time, he pressed the only button he knew he could: kill Wilson",986

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                                  text  cluster
583444   Your Health: 0/100 Page Items Links Inventory     1193
583446   Your Health: 1/100 Page Items Links Inventory     1193
583449  Your Health: 10/100 Page Items Links Inventory     1193
583452  Your Health: 15/100 Page Items Links Inventory     1193
583455  Your Health: 18/100 Page Items Links Inventory     1193
583458  Your Health: 20/100 Page Items Links Inventory     1193
583461  Your Health: 24/100 Page Items Links Inventory     1193
583464  Your Health: 28/100 Page Items Links Inventory     1193
583467  Your Health: 29/100 Page Items Links Inventory     1193
583470   Your Health: 3/100 Page Items Links Inventory     1193
583473  Your Health: 33/100 Page Items Links Inventory     1193
583476  Your Health: 34/100 Page Items Links Inventory     1193
583479  Your Health: 38/100 Page Items Links Inventory     1193
583482  Your Health: 40/100 Page Items Links Inventory     1193
583485  Your Health: 45/100 Page Items Links Inventory     1193
583488  Your Health: 48/100 Page Items Links Inventory     1193
583490  Your Health: 49/100 Page Items Links Inventory     1193
583493  Your Health: 55/100 Page Items Links Inventory     1193
583495  Your Health: 58/100 Page Items Links Inventory     1193
583497   Your Health: 6/100 Page Items Links Inventory     1193
583500  Your Health: 62/100 Page Items Links Inventory     1193
583503  Your Health: 77/100 Page Items Links Inventory     1193
583504  Your Health: 85/100 Page Items Links Inventory     1193

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

,text,cluster
38409,""" She kisses you",406
39134,""" She turns around and gives you a kiss on the cheek",406
47495,""" he says, then kisses you",406
124864,And he kisses you back,406
203226,He kisses back,406
203227,He kisses you,406
203228,He kisses you back,406
354840,She kisses you,406
354841,"She kisses you again, and this time she kisses back",406
354844,She kisses you back,406
354847,She kisses you on the cheek and tells you to get some rest,406
354850,She kisses your cheek,406
355051,"She leans in, and kisses you",406
356114,She notices this and kisses you,406
358134,"She stirs, smiles and kisses you",406
358467,She then carefully kisses you on the lips,406
358498,She then kisses you on the lips,406
650038,” She pulls near and kisses you,406
650101,” She says and kisses you,406
650112,” She says and puts her arms around you and kisses you on the lips,406
650126,” She says and then kisses you on the cheek,406
650127,” She says and then kisses you on the lips,406
658755,” she says and kisses you on the lips and runs off,406

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                        text  cluster
65387           "I know it wasn't your fault      651
70696                     "It was your fault      651
81183                "THIS IS ALL YOUR FAULT      651
84544                "This is all your fault      651
151662       But I know it wasn't your fault      651
172059      Don't worry, it isn't your fault      651
244424  I suppose it’s not really your fault      651
271076                   It isn't your fault      651
275514                 It was ALL your fault      651
277725                  It wasn't your fault      651
281148  It's not really your fault, afterall      651
281248                   It's not your fault      651
281249            It's not your fault at all      651
282802                    Its not your fault      651
382756                   That was your fault      651
446096                    This is YOUR fault      651
446372                This is all your fault      651
449993                   This was your fault      651
450021                This wasn't your fault      651
601297             look, it's not your fault      651
613451            “Hey that’s not your fault      651
666538                ” “It’s not your fault      651

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
26930       " "That      244
48943        " that      244
70592       "It was      244
81726         "That      244
81831   "That is so      244
268291       It had      244
275507       It was      244
378152         THAT      244
380602         That      244
381202      That is      244
382398     That was      244
446035      This is      244
603095         that      244
603119      that is      244
603161     that was      244
603739      this is      244
606665       “ That      244
617777      “It was      244
626868        “That      244
626932     “That it      244
646661     ” It was      244
670788      ” “That      244

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
25246        " "Great job      115
60167           "Good job      115
60281          "Good work      115
60286   "Good work, Ligru      115
85825     "Very well done      115
189718           GOOD JOB      115
192388           Good JOB      115
192389           Good Job      115
192395          Good Work      115
192464           Good job      115
192703          Good work      115
193550          Great Job      115
193568          Great job      115
315738           Nice Job      115
315753           Nice job      115
315797          Nice work      115
315803        Nicely done      115
461152     Very good work      115
461172      Very nice job      115
468553     Well good work      115
599976          good work      115
612295          “Good job      115

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
27258             " "Wait      264
42022              " Wait      264
85932               "WAIT      264
85983               "Wait      264
86014          "Wait wait      264
86024         "Wait, Wait      264
99215               'WAIT      264
461672               WAIT      264
461822               Wait      264
461874            Wait up      264
461945         Wait, wait      264
461946   Wait, wait, wait      264
604224               wait      264
606399              ‘Wait      264
629565              “WAIT      264
629590              “Wait      264
629620           “Wait up      264
629666  “Wait, wait, wait      264
652936             ” Wait      264
671990            ” “WAIT      264
671996            ” “Wait      264
672104           ” “Wait…      264

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
26156         " "Maybe      184
26580       " "Perhaps      184
73628           "Maybe      184
73742    "Maybe, maybe      184
77745         "Perhaps      184
78114        "Possibly      184
305484           Maybe      184
337928         Perhaps      184
338449      Perhaps so      184
340608        Possibly      184
601358           maybe      184
601395          maybe)      184
602327        possibly      184
620598          “Maybe      184
623898        “Perhaps      184
623911     “Perhaps so      184
664326  ” “Hm, perhaps      184
664444   ” “Hmm, maybe      184
667488        ” “Maybe      184
667549       ” “Maybe,      184
669534      ” “Perhaps      184
669646     ” “Possibly      184

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
598616,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598617,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598618,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598619,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598626,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598627,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598628,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598629,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598630,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598633,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598634,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598635,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598637,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598638,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598639,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598640,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598641,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598642,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598645,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598646,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598647,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
598648,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                               text  cluster
27544            " "What's going on      286
42185            " What is going on      286
89573             "What is going on      286
89580            "What is happening      286
90001              "What's going on      286
90229              "What’s going on      286
99114   'Tell me, what is happening      286
379532    Tell me what is happening      286
379541      Tell me what’s going on      286
461745            WHAT IS HAPPENING      286
472897             What is going on      286
472907            What is happening      286
474312              What's going on      286
474329             What's happening      286
474882              Whats happening      286
474932              What’s going on      286
474946             What’s happening      286
604689              what's going on      286
604718             what’s happening      286
631982            “What is going on      286
632343             “What’s going on      286
673834           ” “What’s going on      286

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                           text  cluster
26283            " "No, I don't      194
74829               "No I don't      194
74831               "No I'm not      194
75071                 "No, I am      194
75085              "No, I don't      194
75114           "No, I will not      194
75128              "No, I'm not      194
97589             ' No, I don't      194
316047               No I'm not      194
317891             No, I am not      194
317906              No, I don't      194
317912              No, I don’t      194
317968              No, I'm not      194
621414              “No I’m not      194
621630            “No, I wasn't      194
621647             “No, I’m not      194
621671   “No, actually I wasn’t      194
667894   ” “No I’m not actually      194
668000           ” “No, I don’t      194
668007    ” “No, I don’t really      194
668077  ” “No, actually I’m not      194

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                   text  cluster
25396           " "How do you know this      133
62773   "How can you know that for sure      133
62881                  "How do you know      133
62882       "How do you know about that      133
62883         "How do you know for sure      133
62887             "How do you know that      133
63074               "How would you know      133
80236         "So, how do you know that      133
223373                  How do you know      133
223376       How do you know about that      133
223377         How do you know all this      133
223385          How do you know so much      133
223386             How do you know that      133
223392             How do you know this      133
600386      how do you know all of this      133
614230                 “How do you know      133
614329              “How would you know      133
664618               ” “How do you know      133
664622          ” “How do you know that      133
664624          ” “How do you know this      133
664677       ” “How would you know that      133

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                     text  cluster
7375                "\n"So you killed him      917
24525          "  You proceed to kill him      917
93419          "You killed her didn't you      917
93420                     "You killed him      917
94794                 "You're killing him      917
245428             I think you killed him      917
301391               Look, you killed him      917
366727                    So you kill him      917
489701          YOU KILLED HIM DIDN'T YOU      917
529867               You have to kill him      917
535048                       You kill him      917
535085                     You killed him      917
535089        You killed him you piece of      917
542185            You may have killed him      917
544084               You need to kill him      917
578944            You would’ve killed him      917
592312            You’ll have to kill him      917
595944                  You’ve killed him      917
634744                “You gonna kill him      917
634879                    “You killed him      917
668805  ” “Oh fuck I think you killed him      917

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
32773         " He said      364
32820         " He says      364
47292         " he said      364
47321        " he say's      364
47323         " he says      364
51766        ", he says      364
61114     "He said that      364
61118          "He says      364
98056        '' he says      364
102012       ," He says      364
207014          He said      364
207064     He said that      364
207136     He said, “Mr      364
207257          He says      364
207367  He says that Mr      364
600167          he said      364
600170          he says      364
606441        ’ He says      364
645626        ” He says      364
658170        ” he said      364
658185        ” he says      364

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                         text  cluster
45142                   " You shake your head      482
45151      " You shake your head emphatically      482
325496            Numbly, you shake your head      482
534416               You just shake your head      482
557744                  You shake you're head      482
557748                    You shake your head      482
557749                You shake your head "NO      482
557750             You shake your head ''no''      482
557751                You shake your head 'no      482
557752              You shake your head a bit      482
557805       You shake your head in disbelief      482
557806          You shake your head nervously      482
557811        You shake your head regretfully      482
557814             You shake your head slowly      482
557817         You shake your head stubbornly      482
568512               You then shake your head      482
656437                   ” You shake you head      482
656439                  ” You shake your head      482
656458     ” You shake your head in disbelief      482
656459  ” You shake your head in exasperation      482
656464           ” You shake your head slowly      482

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                           text  cluster
27502          " "What happened      282
27546        " "What's happened      282
89482              "What happen      282
89483            "What happened      282
89487      "What happened there      282
90174        "What, what happen      282
99275            'What happened      282
101296          ) What happened      282
461758            WHAT happened      282
472511        What had happened      282
472521              What happen      282
472523            What happened      282
472611        What has happened      282
474325          What's happened      282
604621              what happen      282
604622            what happened      282
631950           “What happened      282
631956  “What happened in there      282
632281     “What- What happened      282
632424     “What… what happened      282
673679         ” “What happened      282

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                           text  cluster
509648  You currently have $103     1155
509649  You currently have $106     1155
509650  You currently have $124     1155
509654  You currently have $131     1155
509658  You currently have $145     1155
509660  You currently have $152     1155
509662  You currently have $156     1155
509663  You currently have $159     1155
509665  You currently have $166     1155
509668  You currently have $178     1155
509669  You currently have $193     1155
509672  You currently have $235     1155
509673  You currently have $239     1155
509674   You currently have $26     1155
509677   You currently have $48     1155
509679   You currently have $59     1155
509680   You currently have $61     1155
509682   You currently have $64     1155
509683   You currently have $77     1155
509689   You currently have $94     1155
509690   You currently have $95     1155

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                                  text  cluster
4405               "\n"I-" Reggie said      395
37231                   " Reggie asked      395
37232       " Reggie asked desperately      395
37235         " Reggie asked, confused      395
37243                    " Reggie asks      395
37246               " Reggie commanded      395
37257              " Reggie questioned      395
37258      " Reggie questioned himself      395
37259   " Reggie questioned, intrigued      395
37263                " Reggie responds      395
37265                    " Reggie said      395
37270        " Reggie said confidently      395
37276        " Reggie said in surprise      395
37277          " Reggie said nervously      395
37288         " Reggie said, grimacing      395
37305           " Reggie said, shocked      395
37312         " Reggie said, surprised      395
37320                    " Reggie says      395
37347                   " Reggie urged      395
344094            Reggie considered it      395

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                  text  cluster
42170             " What do you choose      434
80070   "So which one would you choose      434
90618           "Which will you choose      434
472120              What do you choose      434
472124           What do you decide on      434
473053            What is your choice:      434
473967            What will you choose      434
473968             What will you chose      434
480165             Which do you choose      434
480169             Which do you prefer      434
480344         Which one do you choose      434
480346     Which one do you go through      434
480347          Which one do you go to      434
480348    Which one do you go to first      434
480350         Which one do you prefer      434
480352           Which one do you want      434
480370       Which one will you choose      434
480473           Which will you choose      434
604796           which will you choose      434
632658          “Which one do you want      434

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                        text  cluster
13390   "\nDansmith chuckles       37
14162         "\nHe chuckles       37
14761     "\nHidius chuckles       37
15600       "\nJohn chuckles       37
15766    "\nKendall chuckles       37
16243    "\nMikhail chuckles       37
16380     "\nNatela chuckles       37
17323        "\nShe chuckles       37
18175      "\nSusan chuckles       37
41935       " Valek chuckles       37
190083     Gearhead chuckles       37
296821    Larcassio chuckles       37
460807        Valek chuckles       37
637031        ”\nHe chuckles       37
637361       ”\nJon chuckles       37
637666       ”\nShe chuckles       37
647612     ” Klepto chuckles       37
648143    ” Marzost chuckles       37
649021      ” Posil chuckles       37
657560    ” Zalmora chuckles       37

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
583447,Your Health: 1/100 Page Items Louisville Slugger Links Inventory,1194
583450,Your Health: 10/100 Page Items Louisville Slugger Links Inventory,1194
583453,Your Health: 15/100 Page Items Louisville Slugger Links Inventory,1194
583456,Your Health: 18/100 Page Items Louisville Slugger Links Inventory,1194
583459,Your Health: 20/100 Page Items Louisville Slugger Links Inventory,1194
583462,Your Health: 24/100 Page Items Louisville Slugger Links Inventory,1194
583465,Your Health: 28/100 Page Items Louisville Slugger Links Inventory,1194
583468,Your Health: 29/100 Page Items Louisville Slugger Links Inventory,1194
583471,Your Health: 3/100 Page Items Louisville Slugger Links Inventory,1194
583474,Your Health: 33/100 Page Items Louisville Slugger Links Inventory,1194
583477,Your Health: 34/100 Page Items Louisville Slugger Links Inventory,1194
583480,Your Health: 38/100 Page Items Louisville Slugger Links Inventory,1194
583483,Your Health: 40/100 Page Items Louisville Slugger Links Inventory,1194
583486,Your Health: 45/100 Page Items Louisville Slugger Links Inventory,1194
583489,Your Health: 48/100 Page Items Louisville Slugger Links Inventory,1194
583491,Your Health: 51/100 Page Items Louisville Slugger Links Inventory,1194
583494,Your Health: 55/100 Page Items Louisville Slugger Links Inventory,1194
583498,Your Health: 6/100 Page Items Louisville Slugger Links Inventory,1194
583501,Your Health: 62/100 Page Items Louisville Slugger Links Inventory,1194
583502,Your Health: 69/100 Page Items Louisville Slugger Links Inventory,1194

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                                              text  cluster
27468                   " "What are we going to do      274
27535                       " "What will we do now      274
27561                  " "What-- what do we do now      274
75961                           "Now what do we do      274
80007                        "So what do we do now      274
89140                     "What are we going to do      274
89141            "What are we going to do about it      274
89145             "What are we gonna do about this      274
89151                           "What are we to do      274
89330                           "What do we do now      274
324157        Now what are we going to do about it      274
366252                        So what do we do now      274
471667                     What are we going to do      274
471669                 What are we going to do now      274
472099                           What do we do now      274
474895                      What’re we going to do      274
631771                “What are we going to do now      274
631860                          “What do we do now      274
673040  ” “Well what are we going to do about that      274
673593                  ” “What are we going to do      274

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                            text  cluster
53668                   "And you      530
53670               "And you are      530
53672              "And you are…      530
53713              "And, you are      530
124162               And are you      530
124955          And here you are      530
126345            And so are you      530
126357             And so do you      530
126640  And that IS what you are      530
127445         And there you are      530
128157           And who are you      530
128417                   And you      530
128432               And you are      530
128661            And you may be      530
128944              And yourself      530
598162                   and you      530
607854         “And here you are      530
608064                  “And you      530
642428        ” And here you are      530
661553             ” “And do you      530

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                            text  cluster
26045               " "It's true      173
34980                " It's true      173
71388                 "It's true      173
88682    "Well, that may be true      173
174740             Eh, it’s true      173
282184                 It's true      173
286847                 It’s true      173
383587               That's true      173
469802        Well, that is true      173
470173           Well… it’s true      173
616332    “I suppose that’s true      173
618234                “It’s true      173
630844         “Well that’s true      173
665296    ” “I guess that’s true      173
665728  ” “I suppose that’s true      173
666568              ” “It’s true      173
671045            ” “That’s true      173
672482       ” “Well THAT’S true      173
672859      ” “Well that is true      173
672915       ” “Well that’s true      173

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                     text  cluster
54134                      "Are you ready      536
54142                "Are you ready to go      536
62399            "Hi, are you ready to go      536
92630                      "You are ready      536
93868                          "You ready      536
132114                      Are you ready      536
132120                Are you ready to go      536
366795        So you ready to get started      536
366796                 So you ready to go      536
367068            So, are you ready to go      536
367318                      So, you ready      536
367320                So, you ready to go      536
497181                      You are ready      536
551215                          You ready      536
551225                    You ready to go      536
581435                       You're ready      536
598338                      are you ready      536
608379                     “Are you ready      536
625356  “So are you ready to go broodling      536
635190                         “You ready      536

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                         text  cluster
12802        "\nBlaise smiles       32
16251       "\nMildred smiles       32
17643           "\nShe smiles       32
18177         "\nSusan smiles       32
29326   " Ashley-Dante smiles       32
30915          " Elios smiles       32
31606         " Gruzub smiles       32
36136       " Merideza smiles       32
51515           "  She smiles       32
97025     '\nCharlotte smiles       32
97055       '\nGlaston smiles       32
166702        Dansmith smiles       32
175843           Engan smiles       32
300652     Littlechild smiles       32
341089           Prinn smiles       32
342550            Quon smiles       32
596385            Yuja smiles       32
636920       ”\nElliot smiles       32
649759       ” Sesisek smiles       32
652790        ” Velzix smiles       32

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                text  cluster
74593           "NOO      726
74594          "NOOO      726
74596       "NOOOOOO      726
74597     "NOOOOOOOO      726
75508           "Noo      726
75510          "Nooo      726
75511         "Noooo      726
314084          NOOO      726
314085         NOOOO      726
314086        NOOOOO      726
314087    NOOOOOOOOO      726
314088  NOOOOOOOOOOO      726
314128        NOoooo      726
319296          Nooo      726
601669           noo      726
621231       “NOOOOO      726
621232   “NOOOOOOOOO      726
621234     “NOOOOOO…      726
621903         “Nooo      726
621904        “Noooo      726

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                         text  cluster
27527            " "What the hell is going on      284
89788              "What the fuck is going on      284
89812              "What the heck is going on      284
89839              "What the hell is going on      284
89841     "What the hell is going on in there      284
89842             "What the hell is happening      284
89852    "What the hell was going on in there      284
221727  Holy crap – what the hell is going on      284
240310       I mean what the fuck is going on      284
473511              What the fuck is going on      284
473541              What the heck is going on      284
473617              What the hell is going on      284
473618          What the hell is going on now      284
473619    What the hell is going on out there      284
473620             What the hell is happening      284
483026        Whoa, what the hell is going on      284
627383                 “The Hell is happening      284
632112             “What the fuck is going on      284
632114    “What the fuck is going on out here      284
632178             “What the hell is going on      284

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                text  cluster
27892            " "You have no idea      314
27940       " "You really don't know      314
33952   " Honestly, you have no idea      314
88869          "Well, you don't know      314
93039                "You don't know      314
93099                "You don’t know      314
93305              "You have no idea      314
101327              ) You don’t know      314
513982                You don't know      314
515308                You don’t know      314
515710         You don’t really know      314
528918              You have no idea      314
529105    You have no idea, you HAVE      314
534082           You just don't know      314
604549          well, you don't know      314
634648          “You don’t know that      314
635434         “You truly don’t know      314
655287     ” You really have no idea      314
675561        ” “You don’t even know      314

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                    text  cluster
85538       "Ugh, what the hell happened      857
89484                "What happened here      857
89786            "What the fuck happened      857
89836       "What the hell happened here      857
101109                   ) FUCK HAPPENED      857
101297          ) What the fuck happened      857
472533                What happened here      857
473285       What on earth happened here      857
473507            What the fuck happened      857
473603            What the hell happened      857
474326              What's happened here      857
474943              What’s happened here      857
482735  Who knows what the hell happened      857
630953      “Well what the hell happened      857
631953               “What happened here      857
631962           “What has happened here      857
632111      “What the fuck happened here      857
632172           “What the hell happened      857
673680             ” “What happened here      857

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                          text  cluster
27217               " "Um, what does that mean      257
27548          " "What's that supposed to mean      257
89452                       "What does it mean      257
89455                     "What does that mean      257
89460                     "What does this mean      257
89474             "What exactly does that mean      257
90051            "What's that supposed to mean      257
472317                       What does it mean      257
472345                     What does that mean      257
472358                     What does this mean      257
473629  What the hell is that supposed to mean      257
474995            What’s that supposed to mean      257
613481       “Hey what’s that supposed to mean      257
631927            “What does that mean exactly      257
631997          “What is that supposed to mean      257
632171           “What the hell does that mean      257
632373           “What’s that supposed to mean      257
673664                  ” “What does that mean      257
673844         ” “What’s that supposed to mean      257

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                       text  cluster
583443   Your Health: 0/100 Page Items Colt     1192
583445   Your Health: 1/100 Page Items Colt     1192
583448  Your Health: 10/100 Page Items Colt     1192
583451  Your Health: 15/100 Page Items Colt     1192
583454  Your Health: 18/100 Page Items Colt     1192
583457  Your Health: 20/100 Page Items Colt     1192
583460  Your Health: 24/100 Page Items Colt     1192
583463  Your Health: 28/100 Page Items Colt     1192
583466  Your Health: 29/100 Page Items Colt     1192
583469   Your Health: 3/100 Page Items Colt     1192
583472  Your Health: 33/100 Page Items Colt     1192
583475  Your Health: 34/100 Page Items Colt     1192
583478  Your Health: 38/100 Page Items Colt     1192
583481  Your Health: 40/100 Page Items Colt     1192
583484  Your Health: 45/100 Page Items Colt     1192
583487  Your Health: 48/100 Page Items Colt     1192
583492  Your Health: 55/100 Page Items Colt     1192
583496   Your Health: 6/100 Page Items Colt     1192
583499  Your Health: 62/100 Page Items Colt     1192

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                                           text  cluster
86627        "We gotta get the hell out of here      829
86685           "We have got to get out of here      829
86731               "We have to get out of here      829
86732     "We have to get out of here, Guybrush      829
86951               "We need to get out of here      829
86958      "We need to get the hell out of here      829
461700               WE HAVE TO GET OUT OF HERE      829
464665                 We gotta get out of here      829
464669        We gotta get the hell out of here      829
465069               We have to get out of here      829
465072       We have to get out of here, though      829
465261          We just have to get out of here      829
465805               We need to get out of here      829
465815  We need to get the fuck out of here NOW      829
467867             We've got to get out of here      829
629960           “We got to get out of here now      829
629963                “We gotta get out of here      829
630010              “We have to get out of here      829
630069              “We need to get out of here      829

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

           text  cluster
27676   " "Yeah      303
42531    " Yeah      303
91604       "YA      303
91648       "Ya      303
91671      "Yea      303
91677     "Yeah      303
99308     'Yeah      303
100585    (Yeah      303
489628     YEAH      303
489914      Yea      303
489919     Yeah      303
604997     yeah      303
633299     “Yah      303
633302    “Yeah      303
633895   “Yeah…      303
636334   “…Yeah      303
641862  ” (Yeah      303
674220  ” “YEAH      303
674236  ” “Yeah      303

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                               text  cluster
38780           " She says cheekily      411
38785          " She says excitably      411
38788           " She says grumpily      411
38804   " She says matter-of-factly      411
38810       " She says reassuringly      411
38814        " She says skeptically      411
38825            " She says tiredly      411
38830       " She says triumphantly      411
48586         " she says cheerfully      411
48588       " she says dismissively      411
48590             " she says grimly      411
48600        " she says plaintively      411
48619            " she says wearily      411
650090        ” She says accusingly      411
650149      ” She says dismissively      411
650160      ” She says submissively      411
650165     ” She says unemotionally      411
658768         ” she says irritably      411
658772           ” she says tersely      411

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                               text  cluster
6703        "\n"Perfect," you smile       16
7625           "\n"Sure," you smile       16
45300                   " You smile       16
51071                   " you smile       16
560421                    You smile       16
560495               You smile back       16
560509              You smile dimly       16
560518       You smile goofily back       16
560535         You smile sheepishly       16
560538           You smile sleepily       16
560564           You smile wickedly       16
636722        ”\nAt that, you smile       16
639822      ”\n“Exactly,” you smile       16
641499  ”\n“Yeah, right,” you smile       16
656543                  ” You smile       16
656544            ” You smile a bit       16
656561             ” You smile back       16
656562           ” You smile grimly       16
660762                  ” you smile       16

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                         text  cluster
56282   "Cmon, let's get the hell out of here      546
56594            "Come, let's get out of here      546
72590                  "Let's get out of here      546
72596         "Let's get out of here, come on      546
72608         "Let's get the fuck out of here      546
72611         "Let's get the heck out of here      546
72612         "Let's get the hell out of here      546
75859              "Now let's get out of here      546
77171            "Okay, let's get out of here      546
119355       All right, let's get out of here      546
163421         Come on, let's get out of here      546
298434                  Let's get out of here      546
298795                  Let’s get out of here      546
298797                   Let’s get outta here      546
298800         Let’s get the hell out of here      546
298801          Let’s get the hell outta here      546
325046             Now, let's get out of here      546
609829         “Come on let’s get out of here      546
619966                 “Let’s get out of here      546

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                             text  cluster
31990        " He chuckles and smiles down at you      359
32493                " He looks to you and smiles      359
32496             " He looks up at you and smiles      359
38981                " She smiles and nods at you      359
47214                        " he nods and smiles      359
204231          He looks at you and smiles widely      359
204503               He looks up at you and sighs      359
204510                 He looks up at you smiling      359
207806                     He sees you and smiles      359
354981                She laughs and looks at you      359
355399  She looks at you and just shakes her head      359
355400                  She looks at you and nods      359
355402                She looks at you and smiles      359
355602             She looks up at you and smiles      359
355604        She looks up at you and then smiles      359
357708     She smiles a little and giggles at you      359
358888                She turns to you and smiles      359
645470           ” He looks at you again and nods      359
649972              ” She looks up, and he smiles      359

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                    text  cluster
90948               "Why did you do that      888
90949               "Why did you do this      888
91229                 "Why'd you do that      888
366438              So why did you do it      888
461778               WHY DID YOU DO THAT      888
483468                       Why did you      888
483477          Why did you do any of it      888
483478                 Why did you do it      888
483480               Why did you do that      888
483481               Why did you do this      888
484130  Why the hell did you do that for      888
484412                 Why'd you do that      888
484413      Why'd you go and do that for      888
484460                   Why’d you do it      888
484461             Why’d you do that for      888
632885              “Why did you do that      888
632887              “Why did you do this      888
633037                “Why’d you do that      888

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                text  cluster
26044      " "It's too late for that      172
194180       Guess it’s too late now      172
270798                It is too late      172
271222             It isn’t too late      172
271247                It it too late      172
272360  It might be too late already      172
282148                 It's too late      172
282153             It's too late now      172
285822             It’s not too late      172
286817          It’s too late anyway      172
286820        It’s too late for that      172
286821        It’s too late for this      172
606298                —it’s too late      172
617693       “It is too late for you      172
618153    “It’s not too late for you      172
618233       “It’s too late for that      172
636312           “…It’s too late now      172
666537          ” “It’s not too late      172

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                      text  cluster
56031                         "Can't do it      545
63799                       "I can't do it      545
63803                     "I can't do this      545
63902                    "I cannot do that      545
159839                         Can't do it      545
159944                         Can’t do it      545
229394                     I can't do this      545
229597                    I cannot do that      545
229654                        I cant do it      545
229716                       I can’t do it      545
229719                     I can’t do that      545
229722                     I can’t do this      545
230464                  I couldn't do that      545
242280              I really can’t do this      545
242323  I really don’t think I can do this      545
599107                         can't do it      545
614788                      “I can’t do it      545
616240          “I seriously CAN’T do this      545

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
25607         " "I know      147
34034     " I KNOW THIS      147
34277          " I know      147
65353           "I know      147
65405      "I know that      147
97418         ' 'I know      147
101150         ) I know      147
237631           I know      147
237812        I know it      147
237928      I know that      147
238041      I know this      147
238053  I know this one      147
615763          “I know      147
615805     “I know that      147
646359         ” I know      147
665424        ” “I know      147
665453   ” “I know that      147
665463   ” “I know this      147

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                 text  cluster
3364                    "\n"I hope so      377
34263                     " I hope so      377
65171                      "I hope so      377
65172   "I hope so, though I doubt it      377
66186               "I should hope so      377
221965               Hope so at least      377
236420                      I hope so      377
236423            I hope so, at least      377
236424   I hope so, though I doubt it      377
242301            I really do hope so      377
468244                 Well I hope so      377
614828           “I certainly hope so      377
616346                “I sure hope so      377
616347  “I sure hope so at this point      377
640179             ”\n“I sure hope so      377
664573                     ” “Hope so      377
665381                   ” “I hope so      377
665750              ” “I sure hope so      377

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
26307        " "No, it isn't      195
74887           "No it's not      195
75228          "No, it's not      195
98971     'No, that's not it      195
316440           No it isn’t      195
318149          No, it isn't      195
318150          No, it isn’t      195
318179    No, it's just that      195
318195          No, it’s not      195
318220       No, no it isn't      195
318354  No, that's not right      195
318364     No, that’s not it      195
318366  No, that’s not right      195
621718  “No, it really isn’t      195
621732    “No, it’s not that      195
667924        ” “No it isn’t      195
667928   ” “No it’s not that      195
668154  ” “No, it’s not that      195

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                             text  cluster
34656          " I'm going to die      379
64488        "I don't want to die      379
64489   "I don't want to die here      379
68179           "I'm going to die      379
172518         Don’t want to… die      379
231103       I didn't want to die      379
231479       I do not want to die      379
232088        I don't want to die      379
232090   I don't want to die here      379
232707          I don’t wanna die      379
232751        I don’t want to die      379
244948      I think I'm gonna die      379
247059              I want to die      379
247316            I wanted to die      379
247682         I was going to die      379
251335              I'm gonna die      379
288450           I’m going to die      379
663067       ” “Don’t want to die      379

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                           text  cluster
3490             "\n"I love you      631
64122            "I do love you      631
65600               "I love you      631
65605        "I love you dearly      631
65606       "I love you so much      631
65625          "I love you, but      631
67691            "I'll love you      631
88401         "Well, I love you      631
226822               I Love You      631
237023  I just love you so much      631
238930               I love you      631
238936           I love you all      631
238954       I love you so much      631
238979            I love you, I      631
302658                 Love you      631
606372                ‘Love you      631
615925              “I love you      631
665516            ” “I love you      631

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
194471,Gym Teacher: 50/50 Your Health: 1/100 Page Items Links Inventory,994
194472,Gym Teacher: 50/50 Your Health: 10/100 Page Items Links Inventory,994
194473,Gym Teacher: 50/50 Your Health: 15/100 Page Items Links Inventory,994
194474,Gym Teacher: 50/50 Your Health: 18/100 Page Items Links Inventory,994
194475,Gym Teacher: 50/50 Your Health: 20/100 Page Items Links Inventory,994
194476,Gym Teacher: 50/50 Your Health: 24/100 Page Items Links Inventory,994
194477,Gym Teacher: 50/50 Your Health: 28/100 Page Items Links Inventory,994
194478,Gym Teacher: 50/50 Your Health: 29/100 Page Items Links Inventory,994
194479,Gym Teacher: 50/50 Your Health: 3/100 Page Items Links Inventory,994
194480,Gym Teacher: 50/50 Your Health: 33/100 Page Items Links Inventory,994
194481,Gym Teacher: 50/50 Your Health: 34/100 Page Items Links Inventory,994
194482,Gym Teacher: 50/50 Your Health: 38/100 Page Items Links Inventory,994
194483,Gym Teacher: 50/50 Your Health: 40/100 Page Items Links Inventory,994
194484,Gym Teacher: 50/50 Your Health: 45/100 Page Items Links Inventory,994
194485,Gym Teacher: 50/50 Your Health: 48/100 Page Items Links Inventory,994
194486,Gym Teacher: 50/50 Your Health: 55/100 Page Items Links Inventory,994
194487,Gym Teacher: 50/50 Your Health: 6/100 Page Items Links Inventory,994
194488,Gym Teacher: 50/50 Your Health: 62/100 Page Items Links Inventory,994

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                      text  cluster
27678       " "Yeah I know      304
76393           "Oh I know      304
91681         "Yeah I know      304
91751        "Yeah, I know      304
91789      "Yeah, I'm sure      304
92032         "Yep, I know      304
92135         "Yes, I know      304
490642         Yes, I know      304
622573          “Oh I know      304
633321        “Yeah I know      304
633454       “Yeah, I know      304
634261   “Yes, yes, I know      304
668987  ” “Oh yeah, I know      304
674251      ” “Yeah I know      304
674459     ” “Yeah, I know      304
674960       ” “Yes I know      304
675043      ” “Yes, I know      304

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                             text  cluster
33147                 " He smiled      372
33153          " He smiled at her      372
38955                " She smiled      372
47569          " he smiled at her      372
47571          " he smiled warmly      372
47572   " he smiled warmly at her      372
48744                " she smiled      372
97515                ' He grinned      372
208431           He smiled at her      372
208444           He smiled warmly      372
208450         He smiled, pleased      372
357654                 She smiled      372
357680            She smiled back      372
357689            She smiled less      372
357691          She smiled nicely      372
645763        ” He smiled happily      372
650222               ” She smiled      372

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
25486      " "I did not      141
65009   "I have not had      141
67014        "I was not      141
68370          "I'm not      141
71532          "I’m not      141
227721         I am not      141
231398         I do not      141
235637       I have not      141
251576          I'm not      141
288906          I’m not      141
614445       “I DID NOT      141
614882       “I did not      141
614979        “I do not      141
618810         “I’m not      141
664776      ” “I am not      141
664893     ” “I did not      141
666782       ” “I’m not      141

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
42743     " You ask      446
42983   " You asked      446
49655     " you ask      446
49968   " you asked      446
51812    ", you ask      446
92696      "You ask      446
97730     ' You ask      446
97910     ' you ask      446
98074    '' you ask      446
498937      You ask      446
605098      you ask      446
606508    ’ you ask      446
641799   ”  you ask      446
653851    ” You ask      446
659428    ” you ask      446
659727  ” you asked      446
676430   ”, you ask      446

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                      text  cluster
13397             "\nDansmith looks at you       38
14367       "\nHe looks at you approvingly       38
14369       "\nHe looks at you expectantly       38
14372     "\nHe looks at you questioningly       38
14373       "\nHe looks at you quizzically       38
16427    "\nNick looks at you reassuringly       38
17088                "\nRowan looks at you       38
151003                 Brotch looks at you       38
182515  Faundeloy looks at you expectantly       38
193770                Greusim looks at you       38
341083      Prinn looks at you expectantly       38
636984                ”\nFrye looks at you       38
637083                  ”\nHe looks at you       38
637306                ”\nJack looks at you       38
648154  ” Marzost looks at you expectantly       38
649758  ” Sesisek looks at you expectantly       38
657569              ” Zalmora looks at you       38

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
604011,"ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} ""Shinji, what do you think",1205
604016,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Asuka is out of place,1205
604019,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Asuka runs to Hikari’s apartment,1205
604024,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Asuka staggers through the city,1205
604026,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Asuka struggles,1205
604043,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Misato Katsuragi sighs,1205
604065,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji Ikari convulses over a trashcan,1205
604066,"ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji Ikari shouts, “Anybody, help",1205
604068,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji does nothing,1205
604069,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji does what he’s best at,1205
604072,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji hesitates,1205
604073,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji is a coward,1205
604074,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji is out for now,1205
604075,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji opens his eyes,1205
604076,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji runs through the hallways,1205
604077,"ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji screams, “Asuka",1205
604080,"ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Shinji, I can save you, but I cannot assure you for Asuka",1205

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                                     text  cluster
80057              "So where are we going      783
90390                 "Where are we going      783
90393              "Where are we gonna go      783
90394        "Where are we gonna go, dude      783
90513        "Where the hell are we going      783
470008  Well, where the hell are we going      783
479384                 Where are we going      783
479387        Where are we supposed to go      783
604461            well where are we going      783
604751                 where are we going      783
604763     where the fuck are we gonna go      783
632538       “Where are we actually going      783
632539                “Where are we going      783
632569        “Where exactly are we going      783
632600       “Where the hell are we going      783
673904               ” “Where are we goin      783
673905              ” “Where are we going      783

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                          text  cluster
43323                " You cry      459
43327            " You cry out      459
43329      " You cry out again      459
43330   " You cry out in agony      459
50101                " you cry      459
50105            " you cry out      459
50107    " you cry out in pain      459
51817            ", you cry, "      459
509559                 You cry      459
509566     You cry for a while      459
509592     You cry out in pain      459
584927   Your cry out in agony      459
605196                 you cry      459
641802          ”  you cry out      459
654115               ” You cry      459
659794               ” you cry      459
659795           ” you cry out      459

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
26033    " "It's okay      171
26049       " "Its ok      171
70805        "It's OK      171
70915   "It's alright      171
71234        "It's ok      171
71238      "It's okay      171
278887        It's OK      171
279583   It's alright      171
281310        It's ok      171
281312      It's okay      171
282808       Its okay      171
285960      It’s okay      171
617889      “Its okay      171
617992  “It’s alright      171
618163     “It’s okay      171
666545     ” “It’s ok      171
666546   ” “It’s okay      171

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
24632    " "Ah, I see       64
52431      "Ah, I see       64
52610     "Ahh, I see       64
76691      "Oh, I see       64
117516   Ah, so I see       64
327482       Oh I see       64
328172   Oh, so I see       64
607208     “Ah, I see       64
613860     “Hm, I see       64
613929    “Hmm, I see       64
622577      “Oh I see       64
623153    “Ohh, I see       64
623343   “Okay, I see       64
661321   ” “Ah, I see       64
664287   ” “Hm, I see       64
664408  ” “Hmm, I see       64
669063   ” “Oh, I see       64

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
542300,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 1/7 Life: 1/7 Coins: 6/100 Page Items Links Inventory,1176
542301,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 1/7 Life: 2/7 Coins: 14/100 Page Items Links Inventory,1176
542302,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 1/7 Life: 3/7 Coins: 11/100 Page Items Links Inventory,1176
542303,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 1/7 Life: 3/7 Coins: 4/100 Page Items Links Inventory,1176
542304,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 1/7 Life: 4/7 Coins: 11/100 Page Items Links Inventory,1176
542305,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 1/7 Life: 4/7 Coins: 3/100 Page Items Links Inventory,1176
542306,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 1/7 Life: 5/7 Coins: 5/100 Page Items Links Inventory,1176
542307,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 1/7 Life: 5/7 Coins: 6/100 Page Items Links Inventory,1176
542308,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 2/7 Life: 4/7 Coins: 5/100 Page Items Links Inventory,1176
542309,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 2/7 Life: 5/7 Coins: 5/100 Page Items Links Inventory,1176
542310,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 2/7 Life: 7/7 Coins: 2/100 Page Items Links Inventory,1176
542311,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 2/7 Life: 7/7 Coins: 3/100 Page Items Links Inventory,1176
542312,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 3/7 Life: 1/7 Coins: 2/100 Page Items Links Inventory,1176
542313,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 3/7 Life: 2/7 Coins: 2/100 Page Items Links Inventory,1176
542314,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 3/7 Life: 2/7 Coins: 4/100 Page Items Links Inventory,1176
542315,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 3/7 Life: 3/7 Coins: 1/100 Page Items Links Inventory,1176

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                                  text  cluster
63512             "I am sorry for this      754
76907            "Oh, sorry about that      754
80533                "Sorry 'bout that      754
80556                "Sorry about that      754
80574                  "Sorry for that      754
80582                  "Sorry for this      754
91902          "Yeah, sorry about that      754
101604  )” “Yeah, um, sorry about that      754
227896             I am sorry for that      754
251991            I'm sorry about that      754
252011              I'm sorry for this      754
371251                Sorry about that      754
490096          Yeah, sorry about that      754
614589            “I am sorry for this      754
623525         “Okay, sorry about that      754
674717       ” “Yeah, sorry about that      754

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
26411        " "Of course      203
76257          "Obviously      203
76273          "Of course      203
88164     "Well of course      203
88643    "Well, of course      203
97426        ' 'Of course      203
325866          Obviously      203
326223          Of course      203
469711    Well, obviously      203
622438         “Obviously      203
622459         “Of course      203
630724    “Well obviously      203
630725    “Well of course      203
668600       ” “Of course      203
672761  ” “Well of course      203
676304      ” “…of course      203

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                              text  cluster
4896             "\n"It's my fault      689
70905           "It's all my fault      689
71199           "It's not my fault      689
74270                    "My fault      689
84654        "This is not my fault      689
276755             It was my fault      689
276822         It was not my fault      689
279496           It's all my fault      689
281132           It's not my fault      689
283904           It’s all my fault      689
285352               It’s my fault      689
312938                    My fault      689
446349        This is all my fault      689
446684  This is in no way my fault      689
617844         “It wasn’t my fault      689
666525        ” “It’s not my fault      689

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
448337,This month your campaign raised $200 to add to your campaign war chest,1112
448338,This month your campaign raised $225 to add to your campaign war chest,1112
448339,This month your campaign raised $230 to add to your campaign war chest,1112
448340,This month your campaign raised $235 to add to your campaign war chest,1112
448341,This month your campaign raised $240 to add to your campaign war chest,1112
448342,This month your campaign raised $260 to add to your campaign war chest,1112
448343,This month your campaign raised $290 to add to your campaign war chest,1112
448344,This month your campaign raised $540 to add to your campaign war chest,1112
448345,This month your campaign raised $570 to add to your campaign war chest,1112
448346,This month your campaign raised $620 to add to your campaign war chest,1112
448347,This month your campaign raised $670 to add to your campaign war chest,1112
448348,This month your campaign raised $680 to add to your campaign war chest,1112
448349,This month your campaign raised $690 to add to your campaign war chest,1112
448350,This month your campaign raised $710 to add to your campaign war chest,1112
448351,This month your campaign raised $750 to add to your campaign war chest,1112
448352,This month your campaign raised $800 to add to your campaign war chest,1112

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                          text  cluster
79945                  "So then why didn't you      889
90984            "Why didn't you just say that      889
90990      "Why didn't you tell me that before      889
469071              Well why didn’t you say so      889
483520                          Why didn't you      889
483521                     Why didn't you come      889
483523                   Why didn't you get it      889
483532                   Why didn't you say so      889
483549                          Why didn’t you      889
483555             Why didn’t you ever tell me      889
483561                  Why didn’t you tell me      889
483562  Why didn’t you tell me you were coming      889
632909                 “Why didn’t you take it      889
636432                “…why didn’t you tell me      889
673067                  ” “Well why didn’t you      889
674034   ” “Why didn’t you tell me that before      889

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
75014          "No thank you      730
75021             "No thanks      730
75250         "No, no thanks      730
75309         "No, thank you      730
75313            "No, thanks      730
91884       "Yeah, no thanks      730
317666          No thank you      730
317667             No thanks      730
317668      No thanks to you      730
490079       Yeah, no thanks      730
601650         no, thank you      730
621537         “No thank you      730
621539            “No thanks      730
621540  “No thanks, I’m good      730
621805           “No, thanks      730
668208      ” “No, thank you      730

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                  text  cluster
68933                       "I'm tired      671
189071                  Fuck I'm tired      671
233331                 I feel so tired      671
250939  I'm a little tired, that's all      671
251960                    I'm so tired      671
252305                       I'm tired      671
288822                  I’m just tired      671
289333                I’m really tired      671
289393                    I’m so tired      671
289788                       I’m tired      671
289804                   I’m too tired      671
602654                 shit, I’m tired      671
617002              “I'm just so tired      671
618552             “I’m a little tired      671
619109                      “I’m tired      671
624990             “Shit, I’m so tired      671

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
24547    "  you say       54
28126   " - you say       54
44666     " You say       54
50510     " you say       54
51821    ", you say       54
93954      "You say       54
97782     ' You say       54
554928      You say       54
555099     You say-       54
555100     You say:       54
555106     You say…       54
605463      you say       54
606708    “ you say       54
641805   ”  you say       54
655461    ” You say       54
660173    ” you say       54

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
30535    " Deadrick yells      343
30917       " Elios yells      343
31585    " Gro'tesk yells      343
31768       " Harex yells      343
35945    " MacNeill yells      343
37607      " Sabela yells      343
39338      " Sklain yells      343
39640   " Tabernius yells      343
39743   " Thar'Kaan yells      343
96588          " he yells      343
96595         " she yells      343
644383     ” Duggin yells      343
646314       ” Huon yells      343
647439      ” Kassi yells      343
649038   ” Pralthar yells      343
652599      ” Tulla yells      343

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
27608          " "Why      296
42021           " WHY      296
42286           " Why      296
51643          " “Why      296
85969            "WHY      296
90862            "Why      296
91264           "Why-      296
95551            "why      296
461777            WHY      296
483172            Why      296
484442    Why, though      296
604853            why      296
629585           “WHY      296
632827           “Why      296
674024         ” “Why      296
674081  ” “Why though      296

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                      text  cluster
25790                      " "I'll be fine      155
67456                          "I'll be OK      155
67473                        "I'll be fine      155
172524            Don’t worry I’ll be fine      155
172534  Don’t worry about me, I’ll be fine      155
250190                     I'll be alright      155
250212                        I'll be fine      155
250213            I'll be fine - just fine      155
287495                     I’ll be alright      155
287513                        I’ll be fine      155
287532                        I’ll be okay      155
618315                       “I’ll be fine      155
618333                         “I’ll be ok      155
661037           ” “ I am going to be fine      155
664773            ” “I am going to be fine      155
666608                     ” “I’ll be fine      155

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
34654          " I'm fine      378
67999        "I'm alright      378
68075           "I'm fine      378
68551             "I'm ok      378
78414   "Really, I'm fine      378
227541          I am fine      378
251127           I'm fine      378
251803           I'm okay      378
288337           I’m fine      378
290016     I’ve been okay      378
343473    Really I’m fine      378
468308      Well I’m fine      378
618617          “I’m fine      378
618905            “I’m ok      378
619169    “I’ve been okay      378
629203      “Um, I’m okay      378

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
24931      " "Come on       86
30249       " Come on       86
56338        "Come in       86
56358        "Come on       86
56377   "Come on down       86
98606        'COME ON       86
163263        Come in       86
163279        Come on       86
163316     Come on in       86
163348     Come on up       86
599222        come on       86
609436       “COME ON       86
609798       “Come in       86
609808       “Come on       86
643945      ” Come on       86
662672     ” “Come on       86

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
597129,[Use Item] [Hide] [Drop Item] Item Table Blue Card,1199
597130,[Use Item] [Hide] [Drop Item] Item Table Blue Card Red Card,1199
597131,[Use Item] [Hide] [Drop Item] Item Table Blue Card Red Card Yellow Card,1199
597132,[Use Item] [Hide] [Drop Item] Item Table Blue Card Yellow Card,1199
597133,[Use Item] [Hide] [Drop Item] Item Table Blue Card Yellow Card Red Card,1199
597134,[Use Item] [Hide] [Drop Item] Item Table Red Card,1199
597135,[Use Item] [Hide] [Drop Item] Item Table Red Card Blue Card,1199
597136,[Use Item] [Hide] [Drop Item] Item Table Red Card Blue Card Yellow Card,1199
597137,[Use Item] [Hide] [Drop Item] Item Table Red Card Yellow Card,1199
597138,[Use Item] [Hide] [Drop Item] Item Table Red Card Yellow Card Blue Card,1199
597139,[Use Item] [Hide] [Drop Item] Item Table Yellow Card,1199
597140,[Use Item] [Hide] [Drop Item] Item Table Yellow Card Blue Card,1199
597141,[Use Item] [Hide] [Drop Item] Item Table Yellow Card Blue Card Red Card,1199
597142,[Use Item] [Hide] [Drop Item] Item Table Yellow Card Red Card,1199
597143,[Use Item] [Hide] [Drop Item] Item Table Yellow Card Red Card Blue Card,1199

Drop ([y]es/[n]o/[b]reak)

 y

--------------------------------------------------------------------------------

                    text  cluster
26383         " "Nothing      200
75728           "Nothing      200
75731    "Nothing at all      200
101205         ) Nothing      200
314106           NOTHING      200
321913           Nothing      200
321930    Nothing at all      200
322405  Nothing, nothing      200
601726           nothing      200
601727    nothing at all      200
622111          “Nothing      200
622112   “Nothing at all      200
636380         “…nothing      200
648651         ” Nothing      200
668488        ” “Nothing      200

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                            text  cluster
27134         " "This is amazing      249
81818              "That is good      249
84545           "This is amazing      249
84581              "This is good      249
84585             "This is great      249
269834                It is good      249
381246              That is good      249
446383           This is amazing      249
446616              This is good      249
446625             This is great      249
446825              This is nice      249
447046  This is really wonderful      249
447416         This is very good      249
447584         This is wonderful      249
603748              this is good      249

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

          text  cluster
26424    " "Oh      204
36679     " OH      204
36719     " Oh      204
76372      "Oh      204
99003      'Oh      204
325578      OH      204
327463      Oh      204
327691   Oh oh      204
601827      oh      204
606716   “ “Oh      204
622413     “OH      204
622542     “Oh      204
648728    ” Oh      204
668692   ” “Oh      204
669176  ” “Oh…      204

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
25369         " "Holy crap      129
33948          " Holy crap      129
62587           "Holy crap      129
62589           "Holy fuck      129
62592   "Holy fucking shit      129
62597           "Holy shit      129
194634           HOLY CRAP      129
194635           HOLY SHIT      129
221726           Holy crap      129
221731           Holy fuck      129
221745           Holy shit      129
612600          “HOLY SHIT      129
614066          “Holy Fuck      129
614067          “Holy fuck      129
614070          “Holy shit      129

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

              text  cluster
25354       " "Hmm      126
25365     " "Hmmmm      126
33943        " Hmm      126
62479         "Hmm      126
101527      ) “Hmm      126
221506         Hmm      126
221513       Hmm …      126
221558       Hmmmm      126
221563        Hmm…      126
600331         hmm      126
600334       hmmmm      126
613927        “Hmm      126
614015  “Hmm…” Hmm      126
646268       ” Hmm      126
664401      ” “Hmm      126

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                                   text  cluster
27473                     " "What are you talking about      276
89215                       "What are you talking about      276
89757              "What the Hell are you talking about      276
89822              "What the hell are you talking about      276
324178          Now what the hell are you talking about      276
328816  OmegaMan23: What the hell are you talking about      276
471757                       What are you talking about      276
473571              What the hell are you talking about      276
474907                        What’re you talking about      276
631801                      “What are you talking about      276
632094             “What the fuck are you talking about      276
673612                    ” “What are you talking about      276
673613            ” “What are you talking about exactly      276
673676            ” “What exactly are you talking about      276
673826                     ” “What’re you talking about      276

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                               text  cluster
80308          "So, what's the plan      785
89456   "What does the plan involve      785
89476     "What exactly is the plan      785
90080              "What's the plan      785
367248          So, what's the plan      785
367249   So, what's the plan for Mr      785
473008             What is the plan      785
473009            What is the plan:      785
474408              What's the plan      785
475006              What’s the plan      785
625566          “So what’s the plan      785
625567      “So what’s the plan now      785
625568    “So what’s the plan, here      785
632388             “What’s the plan      785
673763             ” “What the plan      785

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                            text  cluster
27580             " "Where is he      290
42256              " Where is he      290
90483               "Where is he      290
366389            So where is he      290
479588               Where is he      290
479589           Where is he now      290
479591       Where is he, anyway      290
479594  Where is he, where is he      290
604761       where is he, anyway      290
625763          “So, where is he      290
631330        “Well, where is he      290
632579              “Where is he      290
632581       “Where is he though      290
670289         ” “So where is he      290
673914            ” “Where is he      290

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
26487         " "Oh, that      212
52537           "Ah, that      212
76598            "Oh that      212
76917           "Oh, that      212
327753            Oh that      212
622876           “Oh that      212
622897           “Oh this      212
622959       “Oh yes that      212
661325  ” “Ah, about that      212
661345        ” “Ah, that      212
668933         ” “Oh that      212
668951         ” “Oh this      212
668995   ” “Oh yeah, that      212
669127        ” “Oh, that      212
669157    ” “Oh, yes that      212

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                              text  cluster
26490         " "Oh, then let's go      526
52988      "Alright then, let's go      526
53118           "Alright, let's go      526
77076                "Ok, let's go      526
120946        Alright NOW let’s go      526
121013        Alright, let's go in      526
121014      Alright, let's go then      526
121020           Alright, let’s go      526
328372               Okay let’s go      526
328473              Okay, let's go      526
607599  “Alright, come on let’s go      526
607617          “Alright, let’s go      526
607618     “Alright, let’s go then      526
623449             “Okay, let’s go      526
623451        “Okay, let’s go then      526

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                    text  cluster
94299                   "You want to die      932
94722           "You're going to die now      932
94748             "You're gonna die, die      932
514670             You don't want to die      932
514671        You don't want to die here      932
536638  You know you're going to die now      932
579967           You're all about to die      932
579975           You're all going to die      932
580481               You're going to die      932
580482          You're going to die here      932
580483   You're going to die here anyway      932
580484     You're going to die right now      932
581438          You're ready to die here      932
593372               You’re going to die      932
635898                 “You’re gonna die      932

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
27244      " "Very well      260
85807        "Very good      260
85821      "Very nicely      260
85823        "Very well      260
85869       "Very, well      260
99210        'Very well      260
461150        Very good      260
461220        Very well      260
461275  Very, VERY well      260
604209        very well      260
629440       “Very good      260
629450       “Very well      260
671925     ” “Very good      260
671935     ” “Very well      260
676329    ” “…very well      260

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
26723     " "Shh      231
26724    " "Shhh      231
26725   " "Shhhh      231
78757      "SHHH      231
79340       "Shh      231
79344      "Shhh      231
79349     "Shhhh      231
361283      Shhh      231
624492     “SHHH      231
624924      “Shh      231
624930     “Shhh      231
624935    “Shhhh      231
669982    ” “Shh      231
669983   ” “Shhh      231
669985  ” “Shhhh      231

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                                text  cluster
66511                   "I think this was a bad idea      658
84645                       "This is not a good idea      658
229200                 I can see this was a bad idea      658
306843                      Maybe this is a bad idea      658
306876              Maybe this isnt such a good idea      658
306890                     Maybe this was a bad idea      658
306897                 Maybe this wasn't a good idea      658
306899            Maybe this wasn't such a good idea      658
306900           Maybe this wasn't such a great idea      658
306901            Maybe this wasn’t such a good idea      658
306902  Maybe this wasn’t such a good idea after all      658
446069                       This is NOT a good idea      658
446112                            This is a bad idea      658
449696                           This was a bad idea      658
670982                      ” “That’s not a bad idea      658

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
25180    " "Fuck      107
31128     " FUCK      107
31328     " Fuck      107
58784      "FUCK      107
59329      "Fuck      107
59351   "Fuck me      107
98123     ''Fuck      107
98681      'Fuck      107
181996      FUCK      107
189066      Fuck      107
189119   Fuck me      107
599887      fuck      107
611364     “FUCK      107
611734     “Fuck      107
663474   ” “Fuck      107

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                    text  cluster
27486                " "What do you mean      279
85964          "WHAT do you mean by THAT      279
89355                  "What do you mean      279
89356   "What do you mean by that anyway      279
89711         "What on earth do you mean      279
89830         "What the hell do you mean      279
472170                  What do you mean      279
472174          What do you mean by that      279
473592         What the hell do you mean      279
604611                  what do you mean      279
631876                 “What do you mean      279
631878         “What do you mean by that      279
673647               ” “What do you mean      279
673648       ” “What do you mean exactly      279
676338              ” “…what do you mean      279

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

              text  cluster
26854   " "Strange      239
76267         "Odd      239
87869       "Weird      239
91268       "Wierd      239
326066         Odd      239
374907     Strange      239
468048       Weird      239
601789         odd      239
602970     strange      239
604417       weird      239
622452        “Odd      239
650667   ” Strange      239
653053     ” Weird      239
670577  ” “Strange      239

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
26726     " "Shit      232
39247      " Shit      232
78758       "SHIT      232
79361       "Shit      232
101219     ) SHIT      232
347249       SHIT      232
361553       Shit      232
602652       shit      232
624496      “SHIT      232
624963      “Shit      232
650427     ” Shit      232
669813    ” “SHIT      232
669990    ” “Shit      232
676415  ” … “Shit      232

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
25409     " "Huh      135
33997      " Huh      135
51663      ""Huh      135
63137       "Huh      135
97415     ' 'Huh      135
99361       'huh      135
194659       HUH      135
226327       Huh      135
600439       huh      135
614392      “Huh      135
646309     ” Huh      135
664702    ” “Huh      135
676289   ” “…huh      135
676290  ” “…huh…      135

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
27371    " "Well, I was just      272
65222                "I just      272
65984   "I really, really am      272
66986            "I was just      272
85665             "Umm, I am      272
88355            "Well, I am      272
236775                I just      272
242274           I really am      272
246350            I truly am      272
247824            I was just      272
468283            Well I was      272
469277        Well, I was in      272
630267            “Well I am      272
631090          “Well, I was      272

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
26166           " "Me      185
73373             "ME      185
73767             "Me      185
73789    "Me, I guess      185
98142            ''Me      185
303383             ME      185
307627             Me      185
601397             me      185
606299            —me      185
620687            “Me      185
648233  ” Me; “Really      185
667450          ” “ME      185
667585          ” “Me      185
676382          ” ”Me      185

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
26442   " "Oh no      205
36726    " Oh no      205
76409     "Oh NO      205
76549     "Oh no      205
76851    "Oh, no      205
99007     'Oh no      205
325586     OH NO      205
327668     Oh no      205
328154    Oh, no      205
601846     oh no      205
622416    “OH NO      205
622790    “Oh no      205
623072   “Oh, no      205
668865  ” “Oh no      205

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
26388        " "Now      201
36669    " Now, now      201
74601          "NOW      201
75774          "Now      201
76066     "Now, now      201
314108          NOW      201
322477          Now      201
601743          now      201
621235         “NOW      201
622153         “Now      201
622345    “Now, now      201
668526       ” “Now      201
668557  ” “Now, now      201
676268      ” “…NOW      201

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                    text  cluster
9539             "\n"Well, I'll miss you       20
67699                     "I'll miss you       20
67700             "I'll miss you all too       20
67701        "I'll miss you both so much       20
67703   "I'll miss you too," Blaise says       20
68211             "I'm going to miss you       20
68212     "I'm going to miss you so much       20
88424     "Well, I will miss you , Keito       20
248898                   I will miss you       20
250610                     I'll miss you       20
250611                I'll miss you Long       20
250612            I'll miss you, I think       20
252128        I'm sure going to miss you       20
618701    “I’m going to miss you so much       20

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
38711    " She said      410
38759    " She says      410
48545    " she said      410
48570    " she says      410
51793   ", she says      410
79201     "She says      410
97635    ' She says      410
97889    ' she says      410
357052     She says      410
357156    She says,      410
602618     she said      410
650089   ” She says      410
658747   ” she said      410
658751   ” she says      410

Drop ([y]es/[n]o/[b]reak)

 b

In [34]:
df.loc[df["cluster"].isin(drop_clusters)].sort_values("cluster").groupby("cluster").head(3).reset_index(drop=False)

,index,text,cluster
0,24499,""" What do you do: Page Items Links Inventory",51
1,605730,you: Page Items Links Inventory,51
2,605160,you can: Page Items Links Inventory,51
3,366252,So what do we do now,274
4,471669,What are we going to do now,274
5,472099,What do we do now,274
6,472191,What do you plan to do about this,275
7,472190,What do you plan to do,275
8,472160,What do you intend to do with me,275
9,648921,” Page Items Links Inventory,345
10,173888,END Page Items Links Inventory,345
11,175751,End Page Items Links Inventory,345
12,597119,[Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Hen's neighbour's friendship necklaces [Use Item] [Hide] Madame Raccoon friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship necklace Juana friendship neckla...,390
13,36943,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Hen's neighbour's friendship necklaces [...",390
14,36944,""" Page Items Links Inventory My Inventory Item Preview Mother's Sabley Friendship necklace [Use Item] [Hide] Costello's friendship necklace [Use Item] [Hide] Recycling event friendship necklace [Use Item] [Hide] Item Table Mother's Sabley Friendship ne...",390
15,480347,Which one do you go to,434
16,480346,Which one do you go through,434
17,480344,Which one do you choose,434
18,597234,]) Turn to page 5,499
19,100484,(Turn to Page 24,499
20,46393,""" [Turn to page 40",499
21,143969,Bad Ending #2 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
22,143971,Bad Ending #4 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
23,143975,Bad Ending #8 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;\r\n paddi...,501
24,165539,Current Floor: 6 Combat: 2/7 Life: 7/7 Coins: 1/100 Page Items Links Inventory,978
25,165530,Current Floor: 6 Combat: 2/7 Life: 6/7 Coins: 11/100 Page Items Links Inventory,978
26,165529,Current Floor: 6 Combat: 2/7 Life: 6/7 Coins: 10/100 Page Items Links Inventory,978
27,194482,Gym Teacher: 50/50 Your Health: 38/100 Page Items Links Inventory,994
28,194488,Gym Teacher: 50/50 Your Health: 62/100 Page Items Links Inventory,994
29,194487,Gym Teacher: 50/50 Your Health: 6/100 Page Items Links Inventory,994
30,217039,Here’s a rundown of how you did –\nYou Killed 13 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 0 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 P...,1004
31,217040,Here’s a rundown of how you did –\nYou Killed 13 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 0 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 3 People You Saved 0 P...,1004
32,217049,Here’s a rundown of how you did –\nYou Killed 14 Zombies You Killed 0 Drooler Zombies You Killed 0 Bloater Zombies You Killed 0 Ghouls You Killed 0 Banshees You Killed 0 Hell Hounds You Killed 0 Cannibal Gaunt Zombies\nYou Killed 0 People You Saved 0 P...,1004
33,509690,You currently have $95,1155
34,509689,You currently have $94,1155
35,509683,You currently have $77,1155
36,542310,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 2/7 Life: 7/7 Coins: 2/100 Page Items Links Inventory,1176
37,542315,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 3/7 Life: 3/7 Coins: 1/100 Page Items Links Inventory,1176
38,542314,You may run through: Rain of Arrows - Does 3 damage Spiked Cage - Does damage equal to current floor Fire Cannons - Does 6 damage - Combat stat Or create a plan and escape - Does 1D5 damage Combat: 3/7 Life: 2/7 Coins: 4/100 Page Items Links Inventory,1176
39,583466,Your Health: 29/100 Page Items Colt,1192
40,583460,Your Health: 24/100 Page Items Colt,1192
41,583463,Your Health: 28/100 Page Items Colt,1192
42,583473,Your Health: 33/100 Page Items Links Inventory,1193
43,583449,Your Health: 10/100 Page Items Links Inventory,1193
44,583446,Your Health: 1/100 Page Items Links Inventory,1193
45,583474,Your Health: 33/100 Page Items Louisville Slugger Links Inventory,1194
46,583502,Your Health: 69/100 Page Items Louisville Slugger Links Inventory,1194
47,583459,Your Health: 20/100 Page Items Louisville Slugger Links Inventory,1194
48,583580,Your Score is 28,1195
49,583579,Your Score is 27,1195
50,583591,Your Score is 39,1195
51,597129,[Use Item] [Hide] [Drop Item] Item Table Blue Card,1199
52,597136,[Use Item] [Hide] [Drop Item] Item Table Red Card Blue Card Yellow Card,1199
53,597131,[Use Item] [Hide] [Drop Item] Item Table Blue Card Red Card Yellow Card,1199
54,598633,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
55,598637,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
56,598635,body {\r\nbackground-color: LightYellow; //\r\nlist-style-type: none;/ \r\n padding-left: 0;/\r\n} ul {\r\npadding-left: 0;/\r\nlist-style-type: none;/ \r\n background-color: LightYellow; //\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left:...,1202
57,604043,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Misato Katsuragi sighs,1205
58,604011,"ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} ""Shinji, what do you think",1205
59,604016,ul {\r\npadding-left: 0;/\r\nlist-style-type: none;//\r\n} ul {\r\nlist-style-type: none;/ \r\n padding-left: 0;//\r\n} Asuka is out of place,1205

In [36]:
texts = []
embeddings_np = []
for text in tqdm(sorted(titles)):
    if filteralnum(text) != "":
        texts.append(text)
        embeddings_np.append(embed([text])[0].numpy())
embeddings_np = np.array(embeddings_np)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 32111/32111 [00:49<00:00, 648.42it/s]

In [37]:
clusters = DBSCAN().fit_predict(embeddings_np)

In [38]:
df = pd.DataFrame({"text": texts, "cluster": clusters})
df.head()

                                                          text  cluster
0  " I will let myself go, Be dramatic, and be a new Marylin."       -1
1            " I would try to call emergencies from my phone!"       -1
2                                               "...A Shield!"       -1
3                                               "...A Weapon!"       -1
4                               "...I don't believe in God..."       -1

In [39]:
cluster_sizes = df.loc[df["cluster"] != -1, "cluster"].value_counts()
cluster_sizes

19     34
23     33
89     28
77     21
34     21
       ..
86      5
36      5
32      5
122     5
0       5
Name: cluster, Length: 124, dtype: int64

In [41]:
drop_clusters = []
for cluster in cluster_sizes.index:
    print("")
    print("-" * 80)
    print("")
    display(df.loc[df["cluster"] == cluster])
    print("Drop ([y]es/[n]o/[b]reak)")
    response = input().strip()
    if response == "y":
        drop_clusters.append(cluster)
    elif response == "b":
        break

--------------------------------------------------------------------------------

                          text  cluster
1122        *A few days later*       19
1964       A Few Days Later...       19
2167              A Week Later       19
2168           A Week Later...       19
2176           A Year Later...       19
2204   A couple years later...       19
2235          A few days later       19
2236       A few days later...       19
2240        A few months later       19
2241     A few months later...       19
2242    A few months later....       19
2243         A few weeks later       19
2244      A few weeks later...       19
2245     A few weeks later....       19
2293             A month later       19
2294            A month later.       19
9525           Few weeks later       19
18773          One Month Later       19
18774       One Month Later...       19
18782           One Week Later       19
18783        One Week Later...       19
18784           One Year Later       19
18785        One Year Later...       19
18799          One month later       19
18812          One week later.       19
18814           One year later       19
18815        One year later...       19
22308  Several Months Later...       19
23053        Some months later       19
28488           Two Days Later       19
28489        Two Days Later...       19
28495       Two Weeks Later...       19
28509          Two weeks later       19
28510       Two weeks later...       19

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                                             text  cluster
1327   05.00AM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1328   06.00AM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1329   06.00AM, 16 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1331   08.00AM, 13 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1332   08.00AM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1342  09.00AM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1343   09.00AM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1387   10.00AM, 11 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1388  10.00AM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1389   10.00AM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1390  10.00AM, 15 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1391   10.10AM, 11 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1392   10.15AM, 11 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1393   10.25AM, 11 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1394   10.30AM, 11 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1395   10.35AM, 11 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1423   11.30AM, 12 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1442    12.00, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1443     12.00, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1462  13.00PM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1463   13.00PM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1483   14.00PM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1503  15.00PM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1517  16.00PM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1518   16.00PM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1534  17.00PM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1535  17.00PM, 14 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1551   18.00PM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1581  19.00PM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1582   19.00PM, 14 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1628   20.00PM, 13 June, 1200BC: Trojan Beach, Trojan Coast, Troy       23
1642  21.00PM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23
1644  22.00PM, 13 June, 1200BC: Trojan Plains, Trojan Coast, Troy       23

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

          text  cluster
19131  Page 10       89
19142  Page 11       89
19153  Page 12       89
19164  Page 13       89
19175  Page 14       89
19197  Page 16       89
19209  Page 17       89
19220  Page 18       89
19231  Page 19       89
19242   Page 2       89
19243  Page 20       89
19253  Page 21       89
19257  Page 22       89
19259  Page 24       89
19260  Page 25       89
19261  Page 26       89
19262  Page 27       89
19263  Page 28       89
19264  Page 29       89
19265   Page 3       89
19266  Page 30       89
19267  Page 31       89
19271  Page 35       89
19276   Page 4       89
19288   Page 5       89
19301   Page 6       89
19336   Page 8       89
19347   Page 9       89

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                    text  cluster
15660        Kill Wilson       77
15661  Kill Wilson (10x)       77
15662  Kill Wilson (11x)       77
15663  Kill Wilson (12x)       77
15664  Kill Wilson (14x)       77
15665  Kill Wilson (15x)       77
15666  Kill Wilson (16x)       77
15667  Kill Wilson (17x)       77
15668  Kill Wilson (18x)       77
15669  Kill Wilson (19x)       77
15670  Kill Wilson (20x)       77
15671  Kill Wilson (21x)       77
15672  Kill Wilson (22x)       77
15673  Kill Wilson (23x)       77
15674  Kill Wilson (24x)       77
15677   Kill Wilson (4x)       77
15679   Kill Wilson (6x)       77
15680   Kill Wilson (7x)       77
15681   Kill Wilson (8x)       77
15682   Kill Wilson (9x)       77
15683  Kill Wilson (x13)       77

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
5197             CONTINUE       34
5200          CONTINUE...       34
6408             Continue       34
6413         Continue ...       34
6426          Continue On       34
6428       Continue On...       34
6466     Continue forward       34
6484          Continue on       34
6502         Continue on.       34
6503       Continue on...       34
6504      Continue onward       34
6656            Continue.       34
6657           Continue..       34
6658          Continue...       34
6660         Continue....       34
6662           Continuing       34
6666     Continuing on...       34
31163  [Continuing On...]       34
31294            continue       34
31302         continue...       34
31303        continue....       34

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

              text  cluster
541          "No!"        6
542           "No"        6
566          "No."        6
573        "Nope."        6
1018       (Nope!)        6
17911           NO        6
18119           No        6
18221          No!        6
18232        No!!!        6
18263  No, no, no.        6
18264      No, no.        6
18280          No.        6
18287        No...        6
18310         Nope        6
18311        Nope!        6
18315      Nope...        6
31617           no        6
32068        “No.”        6

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                          text  cluster
10730    Get back to the house       57
10761         Get in the house       57
10773       Get into the house       57
11247   Go back into the house       57
11284     Go back to the house       57
11471               Go in home       57
11476       Go in the house...       57
11493      Go inside the house       57
11513     Go into the house...       57
11961          Go to the house       57
31425    go back in the house?       57
31426  go back into the house?       57
31428    go back to the house.       57
31436      go inside the house       57

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
7868    Don't kiss her       44
7869   Don't kiss him!       44
15810         Kiss Her       44
15811  Kiss Him again.       44
15812        Kiss Him!       44
15816         Kiss her       44
15817    Kiss her back       44
15818        Kiss her.       44
15819         Kiss him       44
15820    Kiss him back       44
15821   Kiss him back.       44
15822        Kiss him!       44
31543        kiss her!       44
31544         kiss him       44

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
15220        Just kill him       74
15619             Kill Her       74
15620             Kill Him       74
15621         Kill Him Now       74
15622            Kill Him!       74
15692             Kill her       74
15694             Kill him       74
15696         Kill him now       74
15698        Kill him too!       74
15699  Kill him! Kill him!       74
15700           Kill him!!       74
15702            Kill him.       74
31536    kill him yourself       74

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
11101     Go Back to Sleep       62
11160          Go To Sleep       62
11269     Go back to sleep       62
11270    Go back to sleep.       62
11271  Go back to sleeping       62
11709            Go to Bed       62
11766          Go to Sleep       62
11783            Go to bed       62
11785           Go to bed.       62
11826          Go to sleep       62
31427       go back to bed       62

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
7246   Deep in the Forest.       72
14408        In the Forest       72
14416         In the Woods       72
14606      Into The Forest       72
14613      Into the Forest       72
14622       Into the Woods       72
14630     Into the forest!       72
14631     Into the forest.       72
14643      Into the woods.       72
19037    Out of the forest       72
27690         To the woods       72

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                            text  cluster
18860              Open The Door       87
18889              Open the Door       87
18890        Open the Front Door       87
18891  Open the Front Door (end)       87
18901              Open the door       87
18912             Open the door.       87
18915        Open the front door       87
18930           Opening the Door       87
28237       Try to open the door       87
31522        just open the door?       87
31628             open the door?       87

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
30213     You Are Dead      121
30289     You are dead      121
30290    You are dead.      121
30291  You are dead...      121
30399        You dead.      121
30992      You're Dead      121
30993     You're Dead!      121
31011     You're dead.      121
31109      Your'e Dead      121
31110      Your'e dead      121

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

           text  cluster
1000   (Go in.)       17
1001   (Go on.)       17
11080        Go       17
11129     Go In       17
11466     Go in       17
11485    Go in.       17
11549     Go on       17
11568    Go on?       17
12144       Go.       17
31423        go       17

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

         text  cluster
1024   (Run.)       18
20421     RUN       18
20425    RUN!       18
20426  RUN!!!       18
21271     Run       18
21517    Run!       18
21519   Run!!       18
21520  Run!!!       18
21524    Run.       18
31708     run       18

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
204     "Hello?!"        1
205      "Hello?"        1
216          "Hi"        1
990    ("Hello?")        1
12971       Hello        1
12974      Hello?        1
13154         Hey        1
13168      Hey...        1
13170          Hi        1
31477      hey...        1

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
11154    Go Through The Door       64
11508    Go into the door...       64
11575        Go out the Door       64
11576        Go out the door       64
11577  Go out the front door       64
11675    Go through the door       64
11942         Go to the door       64
11950   Go to the front door       64
24691    Take the front door       64

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
27917  Trivia question #4      111
31899  trivia question #1      111
31900  trivia question #2      111
31901  trivia question #3      111
31902  trivia question: 1      111
31903  trivia question: 2      111
31904  trivia question: 3      111
31905  trivia question: 4      111
31906  trivia question: 5      111

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
12485             HIDE       69
13175             Hide       69
13194        Hide away       69
13239  Hide somewhere.       69
13256            Hide!       69
13258          Hide!!!       69
13260            Hide.       69
13261            Hide?       69
31478             hide       69

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
11093      Go Back Home       61
11124           Go Home       61
11128        Go Home...       61
11237      Go back home       61
11453           Go home       61
11457  Go home yourself       61
11461          Go home.       61
11462         Go home..       61
31433           go home       61

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
24852         Talk to Her      103
24853         Talk to Him      103
24892         Talk to her      103
24893         Talk to him      103
24897          Talk to it      103
28033     Try talk to her      103
28066  Try to Talk to Him      103
28324  Try to talk to her      103
28325  Try to talk to him      103

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                    text  cluster
6514    Continue running       40
6515   Continue running!       40
6553     Continue to Run       40
15216  Just keep running       40
15342       Keep Running       40
15449   Keep on running.       40
15462       Keep running       40
15465      Keep running!       40
15466      Keep running.       40

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
26095      The Next Day      108
26096   The Next Day...      108
26934      The next Day      108
26936      The next day      108
26941     The next day.      108
26942    The next day..      108
26943   The next day...      108
26944  The next day....      108
26945     The next day…      108

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
10696       Get The Gun       56
11399    Go for the Gun       56
11410    Go for the gun       56
12281  Grab for the gun       56
12302      Grab the gun       56
24636      Take the Gun       56
24695      Take the gun       56
27413     Throw the gun       56

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
848         "What?"       13
1315       ...what?       13
28962        WHAT!?       13
28963         WHAT?       13
29666        What!?       13
29696  What......?!       13
29697         What?       13
29699        What?!       13

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

         text  cluster
905    "Yes!"       16
907     "Yes"       16
924    "Yes."       16
30066    YES!       16
30145     Yes       16
30157    Yes!       16
30193    Yes.       16
32005     yes       16

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
6986     DODGE!!!       43
7686        Dodge       43
7687  Dodge again       43
7694    Dodge him       43
7696    Dodge it!       43
7698  Dodge right       43
7713       Dodge!       43
7715       Dodge?       43

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                text  cluster
15320     Keep Going       75
15321  Keep Going On       75
15322  Keep Going Up       75
15338  Keep On Going       75
15393     Keep going       75
15401    Keep going!       75
15406  Keep going...       75
31525     keep going       75

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
28952  WAKE UP!!!      116
29159     Wake Up      116
29165     Wake up      116
29175    Wake up!      116
29178    Wake up.      116
29179  Wake up...      116
31978     wake up      116
31979   wake up!!      116

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
20422   RUN AWAY       91
21274   Run Away       91
21276  Run Away!       91
21331   Run away       91
21345  Run away!       91
21349  Run away.       91
21350  Run away?       91
31710   run away       91

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
1251      ... You wake up.       22
30251          You Wake Up       22
30946          You wake up       22
30947         You wake up!       22
30948         You wake up.       22
30949       You wake up...       22
32029  you wake up (again)       22
32030       you wake up...       22

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

              text  cluster
3770   Attack Quon       30
3774   Attack Them       30
3784    Attack her       30
3786    Attack him       30
3793   Attack him.       30
3805     Attack it       30
3864   Attack them       30
31214   attack him       30

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
750    "Wait up."       12
753       "Wait!"       12
1116      (Wait.)       12
28975        Wait       12
29130       Wait!       12
29138       Wait.       12
29139      Wait..       12
29140     Wait...       12

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                            text  cluster
1333  08.00AM, 15 June, 1200BC: City Walls, Troy       24
1334  08.05AM, 15 June, 1200BC: City Walls, Troy       24
1335  08.15AM, 15 June, 1200BC: City Walls, Troy       24
1336  08.20AM, 15 June, 1200BC: City Walls, Troy       24
1337  08.30AM, 15 June, 1200BC: City Walls, Troy       24
1338  08.35AM, 15 June, 1200BC: City Walls, Troy       24
1339  08.45AM, 15 June, 1200BC: City Walls, Troy       24
1344  09.00AM, 15 June, 1200BC: City Walls, Troy       24

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
25447      The Begining      105
25448     The Beginning      105
25454    The Beginning.      105
25455  The Beginning...      105
26407         The Start      105
26646     The beginning      105
26648    The beginning.      105
26649  The beginning...      105

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
9353         FOLLOW       51
10073        Follow       51
10135     Follow it       51
10136    Follow it.       51
10137    Follow it:       51
10198   Follow them       51
10201  Follow them.       51

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
16343          Let Him       82
16395          Let him       82
16396      Let him be.       82
16399  Let him come in       82
16410       Let him in       82
16430         Let him.       82
16431         Let him?       82

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                text  cluster
11109  Go Downstairs to the Basement       63
11132           Go Into the Basement       63
11275        Go back to the basement       63
11328     Go check out the basement?       63
11345     Go down into the Basement.       63
16941           Look in the basement       63
21425         Run into the Basement!       63

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                    text  cluster
8007     Down The Stairs       46
8018     Down the Stairs       46
27736  Top of the Stairs       46
28641          Up Stairs       46
28644      Up The Stairs       46
28652      Up the stairs       46
31943      up the stairs       46

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
30062      YEAH!      119
30064    YEAH!!!      119
30074       Yeah      119
30078      Yeah!      119
30080    Yeah!!!      119
30081  Yeah!!!!!      119
30095    Yeah...      119

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
303    "I don't know."        2
307         "I dunno."        2
13725     I don't know        2
13728    I don't know!        2
13729    I don't know.        2
13747      I dont know        2
13748         I dunno!        2

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
581    "Nothing."        7
17919     NOTHING        7
18439     Nothing        7
18453    Nothing!        7
18457    Nothing.        7
18459    Nothing?        7
31622     nothing        7

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

           text  cluster
585       "OK."        8
604      "Okay"        8
2943   Alright!        8
18671      Okay        8
18673     Okay!        8
18683     Okay.        8
18685   Okay...        8

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
6113         Climb A Tree       38
6117         Climb a tree       38
6124  Climb down the tree       38
6141       Climb the Tree       38
6146       Climb the tree       38
6147      Climb the tree.       38
6153           Climb tree       38

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
610    "Open Fire!"       10
611    "Open fire!"       10
18508   OPEN FIRE!!       10
18867     Open fire       10
18884    Open fire!       10
31626     open fire       10
32069  “Open fire!”       10

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
1248         ... Left       20
1270   ...Left Again!       20
1271         ...Left!       20
16295            Left       20
16297       Left (Up)       20
16303       Left Side       20
31560            left       20

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                     text  cluster
1347    1 April 1868: St Joseph, Missouri       28
1435   12 April 1875: St Joseph, Missouri       28
3302      April 1868: St Joseph, Missouri       28
3303      April 1874: St Joseph, Missouri       28
3304      April 1875: St Joseph, Missouri       28
17325     March 1874: St Joseph, Missouri       28
17378       May 1874: St Joseph, Missouri       28

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
21602   SWIM AWAY       93
24307        Swim       93
24311   Swim away       93
24313  Swim away.       93
24319   Swim over       93
24325       Swim!       93
24326       Swim.       93

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                text  cluster
4096       Back Home       33
4110    Back at Home       33
4112   Back at home.       33
4128    Back home...       33
20961    Return Home       33
20967    Return home       33
31220      back home       33

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

,text,cluster
3558,"Ask him ""Have you seen the man who sits on the Tide?""",29
3560,"Ask him again ""Have you seen the man who sits on the Tide?""",29
3576,"Ask him yet again ""Have you seen the man who sits on the Tide?""",29
3584,"Ask once more ""Have you seen the man who sits on the Tide?""",29
3595,"Ask the Giant yet again ""Have you seen the man who sits on the Tide?""",29
3596,"Ask the Giant ""Have you seen the man who sits on the Tide?""",29
3597,"Ask the Giant again ""Have you seen the man who sits on the Tide?""",29

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                            text  cluster
586        "ONCE UPON A TIME..."        9
18755           Once Upon a Time        9
18756        Once Upon a Time...        9
18759     Once upon a Time......        9
18760           Once upon a time        9
18761  Once upon a time ........        9
18762        Once upon a time...        9

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
19718     Play It Safe.       90
19737      Play it safe       90
19741     Play it safe.       90
19763   Playing It Safe       90
19767   Playing it safe       90
19768  Playing it safe.       90

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
28527  Uh Oh....      114
28528      Uh oh      114
28529     Uh oh!      114
28530     Uh oh.      114
28531   Uh oh...      114
28534  Uh, oh...      114

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                              text  cluster
28493          Two Months Later...      113
28494         Two Months Later....      113
28499       Two months later >Anne      113
28502     Two months later >Jasper      113
28503  Two months later >Josephine      113
28505          Two months later...      113

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
16071         Leave Him       80
16127         Leave him       80
16132      Leave him be       80
16133  Leave him behind       80
16137        Leave him.       80
31551         leave him       80

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
11943  Go to the elevators      102
24632    Take the Elevator      102
24685    Take the elevator      102
24686   Take the elevator.      102
28679         Use Elevator      102
28758    Use the elevator.      102

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                text  cluster
22923     Sneak Away       95
22924    Sneak Away!       95
22932  Sneak Through       95
22938   Sneak around       95
22947     Sneak away       95
22959      Sneak off       95

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                          text  cluster
11264   Go back to his village       65
11294   Go back to the village       65
11295  Go back to the village.       65
11697   Go through the village       65
11803        Go to his village       65
11906        Go to the Village       65

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
23514       Stay and Fight       97
23524       Stay and fight       97
23526      Stay and fight!       97
23527      Stay and fight.       97
23531  Stay and help fight       97
31780       stay and fight       97

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
24464     Take a Shower      100
24503     Take a shower      100
24505    Take a shower.      100
24506  Take a shower...      100
24743   Take the shower      100
31808     take a shower      100

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
25105    Tell The Truth      104
25184  Tell the "truth"      104
25189    Tell the Truth      104
25200    Tell the truth      104
25205   Tell the truth.      104
31837    tell the truth      104

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                 text  cluster
16741  Little Maze of Twisty Passages       84
16744  Little Twisty Maze of Passages       84
17407  Maze of Little Twisty Passages       84
17408  Maze of Twisty Little Passages       84
28483  Twisty Little Maze of Passages       84
28484  Twisty Maze of Little Passages       84

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
12476          HELP HIM       68
13052          Help him       68
13057      Help him up.       68
13059         Help him!       68
13060         Help him.       68
20369  Quick, help him!       68

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
10759      Get in the car       58
11848       Go to the Car       58
11931      Go to the car.       58
24672        Take the car       58
31412      get in the car       58
31414  get out of the car       58

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
5242      Call Police       35
5245  Call The Police       35
5291      Call police       35
5295  Call the Police       35
5298    Call the cops       35
5300  Call the police       35

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
10695       Get Revenge       55
10832       Get revenge       55
10922  Get your revenge       55
21021           Revenge       55
21023        Revenge...       55
24615      Take revenge       55

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                text  cluster
5753       Chase Him       37
5766       Chase her       37
5768       Chase him       37
5769  Chase him down       37
5770        Chase it       37
5771       Chase it!       37

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

              text  cluster
10092   Follow Her       53
10094   Follow Him       53
10123   Follow her       53
10127  Follow her!       53
10128   Follow him       53
10133  Follow him.       53

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
9554  Fight Them All!       52
9569     Fight em off       52
9609       Fight them       52
9610   Fight them off       52
9613      Fight them!       52
9614      Fight them.       52

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

          text  cluster
9348     FIGHT       50
9539     Fight       50
9552  Fight On       50
9590  Fight on       50
9631    Fight!       50
9633    Fight.       50

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
10767      Get inside       59
11131       Go Inside       59
11243  Go back inside       59
11487       Go inside       59
11497      Go inside!       59
31434       go inside       59

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
2597   Across the road.       88
8012    Down the "Road"       88
8017      Down the Road       88
18719       On the Road       88
19028   Out On the Road       88
28650     Up the "Road"       88

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
859    "Who are you ?"       15
861    "Who are you?!"       15
862     "Who are you?"       15
29778     Who Are You?       15
29781     Who are You?       15
29788     Who are you?       15

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
2459      ATTACK       26
3752      Attack       26
3873     Attack!       26
3875   Attack!!!       26
31213     attack       26
31217    attack!       26

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
521    "NO WAY!"        4
17913    NO WAY!        4
18161    No Way!        4
18213     No way        4
18215    No way!        4
18220    No way.        4

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
533         "No thanks"        5
537        "No thanks."        5
560    "No, thank you."        5
18156      No Thank You        5
18201         No thanks        5
31619         no thanks        5

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
5493   Catch the knife       67
12266     Grab a knife       67
12305   Grab the knife       67
24638   Take the Knife       67
27415  Throw the knife       67
28763    Use the knife       67

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

          text  cluster
672    "Sure!"       11
675    "Sure,"       11
677    "Sure."       11
24221     Sure       11
24225    Sure,       11
24235  Sure...       11

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
24652        Take the Stairs      123
24749        Take the stairs      123
29198      Walk Down Stairs.      123
29207     Walk Up the Stairs      123
31981  walk down the stairs.      123

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                    text  cluster
2272        A hour later       25
2992    An Hour Later...       25
3027       An hour later       25
3028    An hour later...       25
18769  One Hour Later...       25

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
10921        Get your pistol       60
11424     Go for your pistol       60
12310        Grab the pistol       60
12529  Hand over your pistol       60
24492          Take a pistol       60

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
24462          Take a Nap      101
24489          Take a nap      101
24493    Take a quick nap      101
24500    Take a short nap      101
24792  Taking a Quick Nap      101

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

           text  cluster
23902      Stop       99
23947   Stop it       99
23980     Stop.       99
23981   Stop...       99
23982  Stop....       99

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                    text  cluster
2524    Accept Your Fate       27
2570   Accept your Fate?       27
2572    Accept your fate       27
2574   Accept your fate.       27
31184   accept your fate       27

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
1250   ... Right       21
1275   ...Right!       21
21059      Right       21
21074     Right!       21
31704      right       21

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
26098     The Next Morning      109
26100    The Next Morning.      109
26101  The Next Morning...      109
26948     The next morning      109
26949  The next morning...      109

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

              text  cluster
25684      The End      106
25693  The End...?      106
25694     The End?      106
26740      The end      106
26749     The end!      106

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                 text  cluster
26066  The Mountainside - 6600 Meters      107
26067  The Mountainside - 6800 Meters      107
26068  The Mountainside - 8150 Meters      107
26069  The Mountainside - 8200 Meters      107
26070  The Mountainside - 8500 Meters      107

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                text  cluster
852    "Where am I?"       14
29726     Where Am I       14
29732   Where am I ?       14
29734    Where am I?       14
31993    where am I?       14

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
27494  Time Passes...      110
27515     Time passes      110
27518   Time passes..      110
27519  Time passes...      110
27520    Time passes…      110

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                         text  cluster
28304             Try to swim      112
28305        Try to swim away      112
28306  Try to swim out of it!      112
28307        Try to swim out.      112
31935      try to swim across      112

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
28818    VICTORY!      115
28862     Victory      115
28863    Victory!      115
28864  Victory!!!      115
31948    victory!      115

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

               text  cluster
425    "I'm sorry."        3
664     "Sorry...."        3
23098         Sorry        3
23102        Sorry!        3
23105      Sorry...        3

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

           text  cluster
28967    WRONG!      117
30018     Wrong      117
30048    Wrong!      117
30050    Wrong.      117
30051  Wrong...      117

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
30023      Wrong Answer      118
30038      Wrong answer      118
30039     Wrong answer!      118
30040  Wrong answer!!!!      118
30041   Wrong answer...      118

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                 text  cluster
336    "I need help."       70
12975            Help       70
13066        Help me!       70
13069        Help out       70
19781     Please help       70

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                  text  cluster
30114      Years Later      120
30115   Years later...      120
32001    years later..      120
32002   years later...      120
32003  years later....      120

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
23485   Stay Here       96
23582   Stay here       96
23591  Stay here.       96
23697  Stay there       96
31781   stay here       96

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

              text  cluster
20423   RUN FOR IT       92
21287   Run For It       92
21288  Run For It!       92
21380   Run for it       92
21381  Run for it!       92

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                     text  cluster
21735       Say Something       94
21737  Say Something Back       94
21763       Say something       94
21767      Say something.       94
31730       say something       94

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                   text  cluster
15595  Kill All of Them       78
15654         Kill Them       78
15768         Kill them       78
15769     Kill them all       78
31541    kill them all!       78

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

             text  cluster
10519   GAME OVER       54
10568   Game Over       54
10569  Game Over!       54
10570  Game Over.       54
10573   Game over       54

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                        text  cluster
11514    Go into the kitchen       66
11516   Go into the kitchen.       66
11865      Go to the Kitchen       66
11965     Go to the kitchen.       66
12045  Go toward the kitchen       66

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                                   text  cluster
9030                   Escape by Window       49
9047            Escape through a window       49
9048  Escape through the bedroom window       49
9050          Escape through the window       49
9068        Escaping through the window       49

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
8382      ESCAPE       48
9022      Escape       48
9058     Escape!       48
9059     Escape.       48
9062  Escape...?       48

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                         text  cluster
14129  If the number is 13-17       71
14131  If the number is 13-21       71
14139  If the number is 21-24       71
14141  If the number is 22-30       71
14156   If the number is 8-15       71

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                    text  cluster
15219  Just keep walking       73
15354       Keep Walking       73
15519       Keep walking       73
15522      Keep walking.       73
15523    Keep walking...       73

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

            text  cluster
8380   EPILOGUE:       47
8883    Epilogue       47
8943   Epilogue.       47
9013   Epilogue?       47
31364   epilogue       47

Drop ([y]es/[n]o/[b]reak)

--------------------------------------------------------------------------------

                      text  cluster
15252  Just stay the night       98
23578  Stay for the Night?       98
23580   Stay for the night       98
23694       Stay the Night       98
23696       Stay the night       98

Drop ([y]es/[n]o/[b]reak)

 b

In [94]:
import re

In [95]:
re.search("[a-zA-Z0-9#., ]+\{([a-zA-Z-]\s*\:\s*[a-zA-Z0-9 ]+;\s*)+\}", 
          "Bad Ending #2 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;} Test")

In [96]:
re.search("(([a-zA-Z0-9\#.]|(\s*,\s*))+\s*\{(\s*[a-zA-Z-]+\s*\:\s*[\!a-zA-Z0-9\# ]+\s*;)*\s*\}\s*)+", 
          "Bad Ending #2 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;} Test")

In [97]:
"Bad Ending #2 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;} Test"\
    [14:213]

'body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;} '

In [98]:
re.search("(([a-zA-Z0-9\#.]|(\s*,\s*))+\s*\{(\s*[a-zA-Z-]+\s*\:\s*[\!a-zA-Z0-9\# ]+\s*;)*\s*\}\s*)+", 
          "Bad Ending #2 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;} body {fond-size: 1.5em; widthL: 100%} Test")

In [102]:
re.search("(([a-zA-Z0-9\#.]|(\s*,\s*))+\s*\{(\s*[a-zA-Z-]+\s*\:\s*[\!a-zA-Z0-9\#%. ]+\s*;)*\s*\}\s*)+", 
          "Bad Ending #2 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;} body {fond-size: 1.5em; widthL: 100%;} Test")

In [103]:
"Bad Ending #2 body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;} body {fond-size: 1.5em; widthL: 100%;} Test"\
    [14:252]

'body {background-color: #FFF; }\r\np {\r\n text-indent: 50px;\r\n} \r\n#about {\r\n background-color: #F8F8F8;\r\n padding: 4px;\r\n border: 4px double red;\r\n}\r\nli {\r\n list-style-type: none;\r\n font-size: medium;} body {fond-size: 1.5em; widthL: 100%;} '