In [1]:
import pandas as pd

In [2]:
df_sentences_context_mapping = pd.read_csv("data/cleaned/story-context-sentence-mapping.csv")
df_story_content = pd.read_csv("data/cleaned/story-trees.csv")

In [3]:
id2num = {id: i for i, id in enumerate(df_story_content["id"].unique())}

In [4]:
df_story_content["id"] = df_story_content["id"].apply(id2num.get)
df_story_content["parent_id"] = df_story_content["parent_id"].apply(id2num.get).fillna(-1).astype(int)
df_sentences_context_mapping["context_id"] = df_sentences_context_mapping["context_id"].apply(id2num.get)

In [5]:
df_story_content.head()

,id,parent_id,input,output,story_id,children_count
0,0,-1,[ROOT],"The land of Kronnland is a mythical, wonderful...",12487,29
1,1,0,Start Danny's Campaign,Danny Blaze\nBackground :\nBorn in the summer ...,12487,8
2,2,1,Continue,With all the townsfolk transformed into mindle...,12487,7
3,3,2,Get back to Bren and warn him about the danger.,You run down the hill as Andrew's army regroup...,12487,0
4,4,2,Watch the battle from your hideout.,"Although worried, you stay in your hideout and...",12487,5

In [6]:
df_sentences_context_mapping.head()

   story_id  context_id  sentence_id
0     37696        9010            0
1     37696        9011            0
2     14312       26502            1
3     14312       26503            1
4     31013       17477            2

In [7]:
df_story_content.to_csv("data/cleaned/story-trees-numeric-id.csv", index=False)

In [8]:
df_sentences_context_mapping.to_csv("data/cleaned/story-context-sentence-mapping-numeric-id.csv", index=False)